Backup_29-12-2025/AI Agent Data Kepala Kampung Kelurahan Distrik
{
  "updatedAt": "2025-12-23T06:41:09.490Z",
  "createdAt": "2025-11-15T12:15:30.125Z",
  "id": "Y7V5eVu80aorUx60",
  "name": "AI Agent Data Kepala Kampung Kelurahan Distrik",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Kampung Nawaripi"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        912,
        -256
      ],
      "id": "282bafbc-ba8f-45ba-b301-25dae1316b3e",
      "name": "Data Nawaripi"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Kampung Mawokau Jaya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1168,
        -256
      ],
      "id": "8e33bcfd-a9a5-4adf-965c-7c482e64a495",
      "name": "Data Mawokau Jaya"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Kampung Mandiri Jaya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1392,
        -256
      ],
      "id": "10bb6996-bea9-43d5-bfec-f996a09ee6b2",
      "name": "Data Mandiri Jaya"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Kampung Kadun Jaya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1648,
        -256
      ],
      "id": "b3d87011-fcf5-4742-9471-d0f353077d54",
      "name": "Data Kadun Jaya"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Kelurahan Wonosari Jaya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1888,
        -256
      ],
      "id": "afaca9a6-dbe9-4f7f-bb0c-f3dcb6e80850",
      "name": "Data Wonosari Jaya"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Kelurahan Kamoro Jaya"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2128,
        -256
      ],
      "id": "144bd82d-a60f-4361-a118-afb33cb3a483",
      "name": "Data Kamoro Jaya"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Kelurahan Inauga"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2368,
        -256
      ],
      "id": "ffed92dd-9ea5-4a8d-bdae-295c9e293ecd",
      "name": "Data Inauga"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TkmaSKQC1gWtu4Vq",
          "mode": "list",
          "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
          "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Kampung_Kelurahan",
              "keyValue": "Distrik Wania"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2608,
        -256
      ],
      "id": "935b4020-3341-49d8-8cfb-050f170e4a1a",
      "name": "Data Distrik Wania"
    },
    {
      "parameters": {
        "content": "",
        "height": 720,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        -816
      ],
      "typeVersion": 1,
      "id": "e92173d2-bd48-4498-bb72-973441379a64",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -784
      ],
      "typeVersion": 1,
      "id": "20477007-a2da-4d92-9256-30c36706a4ee",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "### AI Agent Data Kepala Kampung Kelurahan Distrik\n\n\n\n\n\n\n\n### ",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -784
      ],
      "typeVersion": 1,
      "id": "2ae52525-1a8c-4922-991e-29edc39d5105",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -784
      ],
      "typeVersion": 1,
      "id": "511d7657-d615-486c-b38c-623d437e0e5e",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        -560
      ],
      "typeVersion": 1,
      "id": "1bbc434d-c314-4708-ab9d-610177477c44",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "### Tool Data Nawaripi\n\n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -336
      ],
      "typeVersion": 1,
      "id": "45ba7686-0cf9-44ea-a2ab-b3f3bfd85e29",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "### Tool Data Mawokau Jaya\n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -336
      ],
      "typeVersion": 1,
      "id": "6d28d322-2f43-4ce2-a5d5-ab744e8fc53e",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "### Tool Data Mandiri Jaya\n\n\n\n\n\n\n\n###  ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        -336
      ],
      "typeVersion": 1,
      "id": "c27ce02a-a36e-416b-9c48-779d3e9ead83",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "### Tool Data Kadun Jaya\n\n\n\n\n\n\n\n###  ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -336
      ],
      "typeVersion": 1,
      "id": "fdc8464b-6639-49ef-b902-8c2eb9a5f393",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "### Tool Data Wonosari Jaya\n\n\n\n\n\n\n\n###  ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -336
      ],
      "typeVersion": 1,
      "id": "9ecdad34-3bc0-447c-9aa4-b5cdc29e4185",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "### Tool Data Kamoro Jaya\n\n\n\n\n\n\n\n###  ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        -336
      ],
      "typeVersion": 1,
      "id": "fbfee2a4-317b-4f2f-890f-d5a099ed9bf4",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "### Tool Data Inauga\n\n\n\n\n\n\n\n###  ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        -336
      ],
      "typeVersion": 1,
      "id": "17799ceb-140c-4026-95a9-5606360f9170",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "### Tool Data Distrik Wania\n\n\n\n\n\n\n\n###  ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        -336
      ],
      "typeVersion": 1,
      "id": "0a5e8a24-ace8-4d8f-a758-c7beaa24d1da",
      "name": "Sticky Note41"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b37234f8-9fb4-47ee-a42c-0deeddac2e68",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1456,
        -736
      ],
      "id": "cbf4cbbc-48bd-4432-857b-d9a8be5c0692",
      "name": "WI-Data",
      "webhookId": "b37234f8-9fb4-47ee-a42c-0deeddac2e68"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.body['System Message'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1680,
        -736
      ],
      "id": "d23e3300-7fe9-44fb-ba10-3478a16b745b",
      "name": "AI Agent Data"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2048,
        -736
      ],
      "id": "b71bb7b3-ed84-48c8-aee1-e2958bd5d0c6",
      "name": "WR-Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1552,
        -496
      ],
      "id": "29344f9a-d0ae-467f-8922-98d3c335b1be",
      "name": "AI-Data",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Format Respon\n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        -560
      ],
      "typeVersion": 1,
      "id": "7de2afad-9fe9-4491-8241-9ae6e97ee0e9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsonSchemaExample": "  {\n    \"Pemerintah_Kabupaten\": \"\",\n    \"Provinsi\": \"\",\n    \"Distrik\": \"\",\n    \"Kampung_Kelurahan\": \"\",\n    \"Alamat\": \"\",\n    \"Kode_Pos\": \"\",\n    \"Email\": \"\",\n    \"Nama_Pimpinan\": \"\",\n    \"Jabatan\": \"\",    \n    \"Nip\": \"\",\n    \"Id_Tanda_Tangan\": \"\",\n    \"Nomor_HP\": \"\",\n    \"Chat_Id_WhatsAp\": \"\",\n    \"Session_WhatsApp\": \"\",\n    \"Logo\": \"\"\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2048,
        -480
      ],
      "id": "41af38e5-a8af-4001-8a6e-f137f7c49fcd",
      "name": "Format Respon"
    }
  ],
  "connections": {
    "Data Nawaripi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Mawokau Jaya": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Mandiri Jaya": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Kadun Jaya": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Wonosari Jaya": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Kamoro Jaya": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Inauga": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Distrik Wania": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WI-Data": {
      "main": [
        [
          {
            "node": "AI Agent Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Data": {
      "main": [
        [
          {
            "node": "WR-Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Data": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Respon": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Data",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "WI-Data": [
      {
        "json": {
          "headers": {
            "host": "n8n-qz8tp6856ibc.bgxy.sumopod.my.id",
            "user-agent": "axios/1.12.0",
            "content-length": "220",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "8.215.39.173",
            "cf-ipcountry": "ID",
            "cf-ray": "9a374cac9a3e290d-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "8.215.39.173, 104.23.175.83",
            "x-forwarded-host": "n8n-qz8tp6856ibc.bgxy.sumopod.my.id",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "45bc8cdf891c",
            "x-real-ip": "104.23.175.83"
          },
          "params": {},
          "query": {},
          "body": {
            "Prompt": "Saya Minta\n\nData\nChat Id WhatsApp\nSession WhatsApp\n\nRespon\nHanya Berikan Data Ini Tanpa Menambahkan Apapun!",
            "System Message": "Wajib Gunakan \"Data Distrik Wania\" Untuk Mendapatkan Data Yang Di Minta"
          },
          "webhookUrl": "https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/b37234f8-9fb4-47ee-a42c-0deeddac2e68",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "68658e28-fdc4-4477-af90-b290dbcd79e9",
  "activeVersionId": "68658e28-fdc4-4477-af90-b290dbcd79e9",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-15T12:15:30.127Z",
      "createdAt": "2025-11-15T12:15:30.127Z",
      "role": "workflow:owner",
      "workflowId": "Y7V5eVu80aorUx60",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-23T06:41:02.015Z",
    "createdAt": "2025-12-23T06:41:02.015Z",
    "versionId": "68658e28-fdc4-4477-af90-b290dbcd79e9",
    "workflowId": "Y7V5eVu80aorUx60",
    "nodes": [
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Kampung Nawaripi"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          912,
          -256
        ],
        "id": "282bafbc-ba8f-45ba-b301-25dae1316b3e",
        "name": "Data Nawaripi"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Kampung Mawokau Jaya"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          1168,
          -256
        ],
        "id": "8e33bcfd-a9a5-4adf-965c-7c482e64a495",
        "name": "Data Mawokau Jaya"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Kampung Mandiri Jaya"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          1392,
          -256
        ],
        "id": "10bb6996-bea9-43d5-bfec-f996a09ee6b2",
        "name": "Data Mandiri Jaya"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Kampung Kadun Jaya"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          1648,
          -256
        ],
        "id": "b3d87011-fcf5-4742-9471-d0f353077d54",
        "name": "Data Kadun Jaya"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Kelurahan Wonosari Jaya"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          1888,
          -256
        ],
        "id": "afaca9a6-dbe9-4f7f-bb0c-f3dcb6e80850",
        "name": "Data Wonosari Jaya"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Kelurahan Kamoro Jaya"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          2128,
          -256
        ],
        "id": "144bd82d-a60f-4361-a118-afb33cb3a483",
        "name": "Data Kamoro Jaya"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Kelurahan Inauga"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          2368,
          -256
        ],
        "id": "ffed92dd-9ea5-4a8d-bdae-295c9e293ecd",
        "name": "Data Inauga"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "TkmaSKQC1gWtu4Vq",
            "mode": "list",
            "cachedResultName": "Data Kampung Kelurahan Distrik Wania",
            "cachedResultUrl": "/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "Kampung_Kelurahan",
                "keyValue": "Distrik Wania"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          2608,
          -256
        ],
        "id": "935b4020-3341-49d8-8cfb-050f170e4a1a",
        "name": "Data Distrik Wania"
      },
      {
        "parameters": {
          "content": "",
          "height": 720,
          "width": 1984
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          816,
          -816
        ],
        "typeVersion": 1,
        "id": "e92173d2-bd48-4498-bb72-973441379a64",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          -784
        ],
        "typeVersion": 1,
        "id": "20477007-a2da-4d92-9256-30c36706a4ee",
        "name": "Sticky Note18"
      },
      {
        "parameters": {
          "content": "### AI Agent Data Kepala Kampung Kelurahan Distrik\n\n\n\n\n\n\n\n### ",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1600,
          -784
        ],
        "typeVersion": 1,
        "id": "2ae52525-1a8c-4922-991e-29edc39d5105",
        "name": "Sticky Note29"
      },
      {
        "parameters": {
          "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2000,
          -784
        ],
        "typeVersion": 1,
        "id": "511d7657-d615-486c-b38c-623d437e0e5e",
        "name": "Sticky Note31"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1472,
          -560
        ],
        "typeVersion": 1,
        "id": "1bbc434d-c314-4708-ab9d-610177477c44",
        "name": "Sticky Note32"
      },
      {
        "parameters": {
          "content": "### Tool Data Nawaripi\n\n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          848,
          -336
        ],
        "typeVersion": 1,
        "id": "45ba7686-0cf9-44ea-a2ab-b3f3bfd85e29",
        "name": "Sticky Note33"
      },
      {
        "parameters": {
          "content": "### Tool Data Mawokau Jaya\n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1088,
          -336
        ],
        "typeVersion": 1,
        "id": "6d28d322-2f43-4ce2-a5d5-ab744e8fc53e",
        "name": "Sticky Note34"
      },
      {
        "parameters": {
          "content": "### Tool Data Mandiri Jaya\n\n\n\n\n\n\n\n###  ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1328,
          -336
        ],
        "typeVersion": 1,
        "id": "c27ce02a-a36e-416b-9c48-779d3e9ead83",
        "name": "Sticky Note35"
      },
      {
        "parameters": {
          "content": "### Tool Data Kadun Jaya\n\n\n\n\n\n\n\n###  ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1568,
          -336
        ],
        "typeVersion": 1,
        "id": "fdc8464b-6639-49ef-b902-8c2eb9a5f393",
        "name": "Sticky Note36"
      },
      {
        "parameters": {
          "content": "### Tool Data Wonosari Jaya\n\n\n\n\n\n\n\n###  ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1808,
          -336
        ],
        "typeVersion": 1,
        "id": "9ecdad34-3bc0-447c-9aa4-b5cdc29e4185",
        "name": "Sticky Note38"
      },
      {
        "parameters": {
          "content": "### Tool Data Kamoro Jaya\n\n\n\n\n\n\n\n###  ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2048,
          -336
        ],
        "typeVersion": 1,
        "id": "fbfee2a4-317b-4f2f-890f-d5a099ed9bf4",
        "name": "Sticky Note39"
      },
      {
        "parameters": {
          "content": "### Tool Data Inauga\n\n\n\n\n\n\n\n###  ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2288,
          -336
        ],
        "typeVersion": 1,
        "id": "17799ceb-140c-4026-95a9-5606360f9170",
        "name": "Sticky Note40"
      },
      {
        "parameters": {
          "content": "### Tool Data Distrik Wania\n\n\n\n\n\n\n\n###  ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2528,
          -336
        ],
        "typeVersion": 1,
        "id": "0a5e8a24-ace8-4d8f-a758-c7beaa24d1da",
        "name": "Sticky Note41"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "b37234f8-9fb4-47ee-a42c-0deeddac2e68",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1456,
          -736
        ],
        "id": "cbf4cbbc-48bd-4432-857b-d9a8be5c0692",
        "name": "WI-Data",
        "webhookId": "b37234f8-9fb4-47ee-a42c-0deeddac2e68"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "={{ $json.body['System Message'] }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1680,
          -736
        ],
        "id": "d23e3300-7fe9-44fb-ba10-3478a16b745b",
        "name": "AI Agent Data"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          2048,
          -736
        ],
        "id": "b71bb7b3-ed84-48c8-aee1-e2958bd5d0c6",
        "name": "WR-Data"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1552,
          -496
        ],
        "id": "29344f9a-d0ae-467f-8922-98d3c335b1be",
        "name": "AI-Data",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "### Format Respon\n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1984,
          -560
        ],
        "typeVersion": 1,
        "id": "7de2afad-9fe9-4491-8241-9ae6e97ee0e9",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsonSchemaExample": "  {\n    \"Pemerintah_Kabupaten\": \"\",\n    \"Provinsi\": \"\",\n    \"Distrik\": \"\",\n    \"Kampung_Kelurahan\": \"\",\n    \"Alamat\": \"\",\n    \"Kode_Pos\": \"\",\n    \"Email\": \"\",\n    \"Nama_Pimpinan\": \"\",\n    \"Jabatan\": \"\",    \n    \"Nip\": \"\",\n    \"Id_Tanda_Tangan\": \"\",\n    \"Nomor_HP\": \"\",\n    \"Chat_Id_WhatsAp\": \"\",\n    \"Session_WhatsApp\": \"\",\n    \"Logo\": \"\"\n  }"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2048,
          -480
        ],
        "id": "41af38e5-a8af-4001-8a6e-f137f7c49fcd",
        "name": "Format Respon"
      }
    ],
    "connections": {
      "Data Nawaripi": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Data Mawokau Jaya": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Data Mandiri Jaya": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Data Kadun Jaya": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Data Wonosari Jaya": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Data Kamoro Jaya": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Data Inauga": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Data Distrik Wania": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "WI-Data": {
        "main": [
          [
            {
              "node": "AI Agent Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Data": {
        "main": [
          [
            {
              "node": "WR-Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Data": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Format Respon": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent Data",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}