Backup_29-12-2025/Create Surat Inauga - Sub AI Agent
{
  "updatedAt": "2025-12-29T05:45:47.124Z",
  "createdAt": "2025-12-28T07:39:43.488Z",
  "id": "mIu5XdTzwynMWWEM",
  "name": "Create Surat Inauga - Sub AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -80
      ],
      "typeVersion": 1,
      "id": "f1316efa-a495-4ec9-bcfb-07f5cb829db6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -64
      ],
      "typeVersion": 1,
      "id": "9e2a1a52-5d78-48ee-a3b9-0e04114a2f55",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Create Surat",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -64
      ],
      "typeVersion": 1,
      "id": "bc002da3-7c01-41b4-a95d-57faa125b73b",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -64
      ],
      "typeVersion": 1,
      "id": "89696040-7fc9-4459-8266-e911fa91fa4a",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        176
      ],
      "typeVersion": 1,
      "id": "a3c8f2e3-9e75-486d-860f-da49fb84b8aa",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "### [Tool Create Surat](https://drive.google.com/file/d/1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM/view)\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        176
      ],
      "typeVersion": 1,
      "id": "31210ebb-6b79-408e-b3b2-006a49e90e47",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee6dec80-5b9f-4336-92c0-faec31c46dc6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        0
      ],
      "id": "fc3b0076-970f-456c-8131-457c9e84518b",
      "name": "WI-Surat",
      "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        0
      ],
      "id": "9c00a506-2f38-4fc5-bb27-5d20e9eafecb",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        240
      ],
      "id": "1e5cc936-73d0-4c09-819e-ba81a472bb10",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Folder\n### **[Create Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/EGNbiL4dDoPys27W)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Inauga](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/ljdkzS7nxWozXp95/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QmNJt19AbqrxTHd8/workflows) / [Create Surat Inauga - Sub AI Agent]()** \n\n",
        "height": 112,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -192
      ],
      "typeVersion": 1,
      "id": "2a231b17-285f-4e24-b5ad-e1342567eba4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM",
          "mode": "id"
        },
        "name": "={{ $json.body['File Name'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.body['Parent Folder'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        400,
        224
      ],
      "id": "4d9fc35a-93c1-43f3-bcdb-620bd67844ee",
      "name": "Surat SKTM Inauga",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K6YEbjdSQULsuuJd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "865d7689-53b0-434d-850a-6e78ecebc5d9",
      "name": "Sub AI Agent Create Surat"
    }
  ],
  "connections": {
    "WI-Surat": {
      "main": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Surat SKTM Inauga": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sub AI Agent Create Surat": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ba26fac8-d7d9-4411-834c-47f359e15a47",
  "activeVersionId": "ba26fac8-d7d9-4411-834c-47f359e15a47",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-28T07:39:43.492Z",
      "createdAt": "2025-12-28T07:39:43.492Z",
      "role": "workflow:owner",
      "workflowId": "mIu5XdTzwynMWWEM",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:45:47.125Z",
    "createdAt": "2025-12-29T05:45:47.125Z",
    "versionId": "ba26fac8-d7d9-4411-834c-47f359e15a47",
    "workflowId": "mIu5XdTzwynMWWEM",
    "nodes": [
      {
        "parameters": {
          "content": "",
          "height": 464,
          "width": 1008
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          -80
        ],
        "typeVersion": 1,
        "id": "f1316efa-a495-4ec9-bcfb-07f5cb829db6",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -128,
          -64
        ],
        "typeVersion": 1,
        "id": "9e2a1a52-5d78-48ee-a3b9-0e04114a2f55",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Create Surat",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          112,
          -64
        ],
        "typeVersion": 1,
        "id": "bc002da3-7c01-41b4-a95d-57faa125b73b",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          512,
          -64
        ],
        "typeVersion": 1,
        "id": "89696040-7fc9-4459-8266-e911fa91fa4a",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          48,
          176
        ],
        "typeVersion": 1,
        "id": "a3c8f2e3-9e75-486d-860f-da49fb84b8aa",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "content": "### [Tool Create Surat](https://drive.google.com/file/d/1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM/view)\n",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          176
        ],
        "typeVersion": 1,
        "id": "31210ebb-6b79-408e-b3b2-006a49e90e47",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ee6dec80-5b9f-4336-92c0-faec31c46dc6",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -48,
          0
        ],
        "id": "fc3b0076-970f-456c-8131-457c9e84518b",
        "name": "WI-Surat",
        "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          544,
          0
        ],
        "id": "9c00a506-2f38-4fc5-bb27-5d20e9eafecb",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          112,
          240
        ],
        "id": "1e5cc936-73d0-4c09-819e-ba81a472bb10",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Folder\n### **[Create Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/EGNbiL4dDoPys27W)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Inauga](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/ljdkzS7nxWozXp95/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QmNJt19AbqrxTHd8/workflows) / [Create Surat Inauga - Sub AI Agent]()** \n\n",
          "height": 112,
          "width": 1008
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          -192
        ],
        "typeVersion": 1,
        "id": "2a231b17-285f-4e24-b5ad-e1342567eba4",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM",
            "mode": "id"
          },
          "name": "={{ $json.body['File Name'] }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.body['Parent Folder'] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTool",
        "typeVersion": 3,
        "position": [
          400,
          224
        ],
        "id": "4d9fc35a-93c1-43f3-bcdb-620bd67844ee",
        "name": "Surat SKTM Inauga",
        "notesInFlow": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K6YEbjdSQULsuuJd",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          176,
          0
        ],
        "id": "865d7689-53b0-434d-850a-6e78ecebc5d9",
        "name": "Sub AI Agent Create Surat"
      }
    ],
    "connections": {
      "WI-Surat": {
        "main": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Surat SKTM Inauga": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Sub AI Agent Create Surat": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}