Backup_29-12-2025/Create Surat Nawaripi - Sub AI Agent
{
  "updatedAt": "2025-12-29T05:43:55.546Z",
  "createdAt": "2025-12-23T13:13:52.454Z",
  "id": "4IUbeio4QLthQZ46",
  "name": "Create Surat Nawaripi - Sub AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -96
      ],
      "typeVersion": 1,
      "id": "5df803bc-217c-46b8-80fe-34081fd9b072",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -80
      ],
      "typeVersion": 1,
      "id": "2749f712-abb3-4aaa-a698-f08e6877665e",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Create Surat",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -80
      ],
      "typeVersion": 1,
      "id": "9d06ac18-99e4-4a2d-b6fd-2144eab2c181",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -80
      ],
      "typeVersion": 1,
      "id": "cef25d28-7a9e-4826-b3e4-eb8518065364",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        160
      ],
      "typeVersion": 1,
      "id": "1bb45422-d19d-4664-a502-e786eecd96dc",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "### [Tool Create Surat](https://drive.google.com/file/d/1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM/view)\n\n\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        160
      ],
      "typeVersion": 1,
      "id": "e5317ddb-433a-436b-b1fc-c934ce5df619",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -16
      ],
      "id": "df76c4ce-e6e8-49ac-97c6-2579bd98b410",
      "name": "WI-Surat",
      "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        -16
      ],
      "id": "2b356de0-d6e7-494c-aca1-57ccd5851933",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        224
      ],
      "id": "97e3f1e2-930b-4683-9dc5-d84d5a020872",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM",
          "mode": "id"
        },
        "name": "={{ $json.body['File Name'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.body['Parent Folder'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        320,
        208
      ],
      "id": "c0de1580-69dc-456c-a589-8ad6304949b3",
      "name": "Surat SKTM Nawaripi",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K6YEbjdSQULsuuJd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Folder\n### **[Create Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/EGNbiL4dDoPys27W)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kampung Nawaripi](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/m4VVaWRfz87EAMmo/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/HqKecT91tgThE9s5/workflows) / [Create Surat Nawaripi - Sub AI Agent]()** \n\n",
        "height": 112,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -208
      ],
      "typeVersion": 1,
      "id": "876116e6-e4b9-48c4-959f-f3bf4bcdff52",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -16
      ],
      "id": "aa886174-4420-4f79-84c9-76b32bfbe749",
      "name": "Sub AI Agent Create Surat"
    }
  ],
  "connections": {
    "WI-Surat": {
      "main": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Surat SKTM Nawaripi": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sub AI Agent Create Surat": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ac933bff-3882-4c63-a0c7-8860958a729f",
  "activeVersionId": "ac933bff-3882-4c63-a0c7-8860958a729f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-23T13:13:52.460Z",
      "createdAt": "2025-12-23T13:13:52.460Z",
      "role": "workflow:owner",
      "workflowId": "4IUbeio4QLthQZ46",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:43:55.547Z",
    "createdAt": "2025-12-29T05:43:55.547Z",
    "versionId": "ac933bff-3882-4c63-a0c7-8860958a729f",
    "workflowId": "4IUbeio4QLthQZ46",
    "nodes": [
      {
        "parameters": {
          "content": "",
          "height": 480,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -256,
          -96
        ],
        "typeVersion": 1,
        "id": "5df803bc-217c-46b8-80fe-34081fd9b072",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -208,
          -80
        ],
        "typeVersion": 1,
        "id": "2749f712-abb3-4aaa-a698-f08e6877665e",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Create Surat",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          -80
        ],
        "typeVersion": 1,
        "id": "9d06ac18-99e4-4a2d-b6fd-2144eab2c181",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          432,
          -80
        ],
        "typeVersion": 1,
        "id": "cef25d28-7a9e-4826-b3e4-eb8518065364",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -32,
          160
        ],
        "typeVersion": 1,
        "id": "1bb45422-d19d-4664-a502-e786eecd96dc",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "content": "### [Tool Create Surat](https://drive.google.com/file/d/1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM/view)\n\n\n",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          240,
          160
        ],
        "typeVersion": 1,
        "id": "e5317ddb-433a-436b-b1fc-c934ce5df619",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -128,
          -16
        ],
        "id": "df76c4ce-e6e8-49ac-97c6-2579bd98b410",
        "name": "WI-Surat",
        "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          464,
          -16
        ],
        "id": "2b356de0-d6e7-494c-aca1-57ccd5851933",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          32,
          224
        ],
        "id": "97e3f1e2-930b-4683-9dc5-d84d5a020872",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM",
            "mode": "id"
          },
          "name": "={{ $json.body['File Name'] }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.body['Parent Folder'] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTool",
        "typeVersion": 3,
        "position": [
          320,
          208
        ],
        "id": "c0de1580-69dc-456c-a589-8ad6304949b3",
        "name": "Surat SKTM Nawaripi",
        "notesInFlow": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K6YEbjdSQULsuuJd",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Folder\n### **[Create Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/EGNbiL4dDoPys27W)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kampung Nawaripi](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/m4VVaWRfz87EAMmo/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/HqKecT91tgThE9s5/workflows) / [Create Surat Nawaripi - Sub AI Agent]()** \n\n",
          "height": 112,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -256,
          -208
        ],
        "typeVersion": 1,
        "id": "876116e6-e4b9-48c4-959f-f3bf4bcdff52",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          96,
          -16
        ],
        "id": "aa886174-4420-4f79-84c9-76b32bfbe749",
        "name": "Sub AI Agent Create Surat"
      }
    ],
    "connections": {
      "WI-Surat": {
        "main": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Surat SKTM Nawaripi": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Sub AI Agent Create Surat": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}