Backup_29-12-2025/Create Surat Wonosari Jaya - Sub AI Agent
{
  "updatedAt": "2025-12-29T05:45:12.248Z",
  "createdAt": "2025-12-28T07:30:09.761Z",
  "id": "54MUua1NtY3MsCSG",
  "name": "Create Surat Wonosari Jaya - Sub AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 496,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -48
      ],
      "typeVersion": 1,
      "id": "de214436-3e88-4674-87b0-a8350255eb6c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -16
      ],
      "typeVersion": 1,
      "id": "63097386-6b1b-4c8d-a8d2-f997803e7441",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Create Surat",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -16
      ],
      "typeVersion": 1,
      "id": "60fe6999-b9bc-4f6f-9365-70a2f30083cf",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -16
      ],
      "typeVersion": 1,
      "id": "278a2442-8944-47b1-9fb1-edcd5d32ed2b",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        224
      ],
      "typeVersion": 1,
      "id": "5f6adeae-77f1-4108-b5f0-7b0c40c734ba",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "### [Tool Create Surat](https://drive.google.com/file/d/1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM/view)\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        224
      ],
      "typeVersion": 1,
      "id": "5965eae9-5b14-4c10-98f1-c00c8cfb2505",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c47c6c1c-77e1-4ce4-b94b-ac267bf879e2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        48
      ],
      "id": "65de8943-722f-4745-beb0-7fd65cb21dc4",
      "name": "WI-Surat",
      "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        48
      ],
      "id": "8de27a97-955a-433c-aa22-ccec2d21b575",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        288
      ],
      "id": "04d4b1ab-19d1-4f30-b448-dffd43590f91",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Folder\n### **[Create Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/EGNbiL4dDoPys27W)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Wonosari Jaya](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/c2kAGh5uHVfIJYaF/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/cfa8yDfVPTKgfQKf/workflows) / [Create Surat Wonosari Jaya - Sub AI Agent]()** \n\n",
        "height": 112,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -160
      ],
      "typeVersion": 1,
      "id": "f7aaa060-5e0b-45c0-bb21-1355a5679e0f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM",
          "mode": "id"
        },
        "name": "={{ $json.body['File Name'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.body['Parent Folder'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        384,
        272
      ],
      "id": "541058c0-81af-45b9-ac3f-bc86fe713053",
      "name": "Surat SKTM Wonosari Jaya",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K6YEbjdSQULsuuJd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        48
      ],
      "id": "8e1a7380-669f-489d-aa56-73f566b7ef4b",
      "name": "Sub AI Agent Create Surat"
    }
  ],
  "connections": {
    "WI-Surat": {
      "main": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Surat SKTM Wonosari Jaya": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Create Surat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sub AI Agent Create Surat": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "88a49354-b8f8-4843-af65-5426cb98cfc0",
  "activeVersionId": "88a49354-b8f8-4843-af65-5426cb98cfc0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-28T07:30:09.764Z",
      "createdAt": "2025-12-28T07:30:09.764Z",
      "role": "workflow:owner",
      "workflowId": "54MUua1NtY3MsCSG",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:45:12.249Z",
    "createdAt": "2025-12-29T05:45:12.249Z",
    "versionId": "88a49354-b8f8-4843-af65-5426cb98cfc0",
    "workflowId": "54MUua1NtY3MsCSG",
    "nodes": [
      {
        "parameters": {
          "content": "",
          "height": 496,
          "width": 1040
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -224,
          -48
        ],
        "typeVersion": 1,
        "id": "de214436-3e88-4674-87b0-a8350255eb6c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -144,
          -16
        ],
        "typeVersion": 1,
        "id": "63097386-6b1b-4c8d-a8d2-f997803e7441",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Create Surat",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          96,
          -16
        ],
        "typeVersion": 1,
        "id": "60fe6999-b9bc-4f6f-9365-70a2f30083cf",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          496,
          -16
        ],
        "typeVersion": 1,
        "id": "278a2442-8944-47b1-9fb1-edcd5d32ed2b",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          224
        ],
        "typeVersion": 1,
        "id": "5f6adeae-77f1-4108-b5f0-7b0c40c734ba",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "content": "### [Tool Create Surat](https://drive.google.com/file/d/1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM/view)\n",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          304,
          224
        ],
        "typeVersion": 1,
        "id": "5965eae9-5b14-4c10-98f1-c00c8cfb2505",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "c47c6c1c-77e1-4ce4-b94b-ac267bf879e2",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -64,
          48
        ],
        "id": "65de8943-722f-4745-beb0-7fd65cb21dc4",
        "name": "WI-Surat",
        "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          528,
          48
        ],
        "id": "8de27a97-955a-433c-aa22-ccec2d21b575",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          96,
          288
        ],
        "id": "04d4b1ab-19d1-4f30-b448-dffd43590f91",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Folder\n### **[Create Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/EGNbiL4dDoPys27W)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Wonosari Jaya](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/c2kAGh5uHVfIJYaF/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/cfa8yDfVPTKgfQKf/workflows) / [Create Surat Wonosari Jaya - Sub AI Agent]()** \n\n",
          "height": 112,
          "width": 1040
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -224,
          -160
        ],
        "typeVersion": 1,
        "id": "f7aaa060-5e0b-45c0-bb21-1355a5679e0f",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1hIUu5sswUdP9jlh4Ze3pfqZ_8IXSmE6hThv-xnLe5XM",
            "mode": "id"
          },
          "name": "={{ $json.body['File Name'] }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.body['Parent Folder'] }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTool",
        "typeVersion": 3,
        "position": [
          384,
          272
        ],
        "id": "541058c0-81af-45b9-ac3f-bc86fe713053",
        "name": "Surat SKTM Wonosari Jaya",
        "notesInFlow": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K6YEbjdSQULsuuJd",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          160,
          48
        ],
        "id": "8e1a7380-669f-489d-aa56-73f566b7ef4b",
        "name": "Sub AI Agent Create Surat"
      }
    ],
    "connections": {
      "WI-Surat": {
        "main": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Surat SKTM Wonosari Jaya": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Create Surat",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Sub AI Agent Create Surat": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}