Backup_29-12-2025/Edit Surat Inauga - Sub AI Agent
{
  "updatedAt": "2025-12-29T05:39:19.375Z",
  "createdAt": "2025-12-24T01:52:33.128Z",
  "id": "SbbLbwzqjK1cSqZz",
  "name": "Edit Surat Inauga - Sub AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.body['Id Surat SKTM'] }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{Tanggal_Surat}",
              "replaceText": "={{ $json.body['Tanggal Surat'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Pemerintah_Kabupaten}",
              "replaceText": "={{ $json.body['Pemerintah Kabupaten'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Distrik}",
              "replaceText": "={{ $json.body.Distrik }}"
            },
            {
              "action": "replaceAll",
              "text": "{Kampung_Kelurahan}",
              "replaceText": "={{ $json.body['Kampung Kelurahan'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Alamat_Kantor}",
              "replaceText": "={{ $json.body['Alamat Kantor'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Provinsi}",
              "replaceText": "={{ $json.body.Provinsi }}"
            },
            {
              "action": "replaceAll",
              "text": "{Kode_Pos}",
              "replaceText": "={{ $json.body['Kode Pos'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Email}",
              "replaceText": "={{ $json.body.Email }}"
            },
            {
              "action": "replaceAll",
              "text": "{Nomor_Surat}",
              "replaceText": "={{ $json.body['Nomor Surat'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_1}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 1'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_2}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 2'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_3}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 3'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_4}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 4'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_5}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 5'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Nama_Pemohon}",
              "replaceText": "={{ $json.body['Nama Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{NIK_Pemohon}",
              "replaceText": "={{ $json.body['NIK Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{TTL_Pemohon}",
              "replaceText": "={{ $json.body['TTL Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Agama_Pemohon}",
              "replaceText": "={{ $json.body['Agama Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Jenis_Kelamin_Pemohon}",
              "replaceText": "={{ $json.body['Jenis Kelamin Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Status_Perkawinan_Pemohon}",
              "replaceText": "={{ $json.body['Status Perkawinan Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Pekerjaan_Pemohon}",
              "replaceText": "={{ $json.body['Pekerjaan Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Alamat_Pemohon}",
              "replaceText": "={{ $json.body['Alamat Pemohon'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        400,
        112
      ],
      "id": "fdc6a6e2-bbb3-43cb-bedd-dc0c67afddba",
      "name": "Surat SKTM Inauga",
      "notesInFlow": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "et8bSa0Nlnpparmf",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Folder\n### **[Edit Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/PRByDVbDdX8sYu1E)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Inauga](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/ljdkzS7nxWozXp95/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QmNJt19AbqrxTHd8/workflows) / [Edit Surat Inauga - Sub AI Agent]()** ",
        "height": 112,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -320
      ],
      "typeVersion": 1,
      "id": "51a777da-b03e-4983-b531-59460916ca04",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -208
      ],
      "typeVersion": 1,
      "id": "0b53dcdc-77d3-412c-9f5f-2658d90be6dc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -192
      ],
      "typeVersion": 1,
      "id": "5550ad06-689f-49c6-936e-ccf50673b857",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Edit Surat ",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -192
      ],
      "typeVersion": 1,
      "id": "ba65ab90-63ee-4e73-8105-dd1b5bd72ac0",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -192
      ],
      "typeVersion": 1,
      "id": "8867c552-ac67-4196-86da-2c69b57f4dd2",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        48
      ],
      "typeVersion": 1,
      "id": "11e0a4f7-f3d1-46d7-96e8-c71b0c6c083c",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "### Tool Edit Surat\n\n\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        48
      ],
      "typeVersion": 1,
      "id": "d3b8514f-38c2-49b7-b636-a98472821dd9",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ca627ce4-26ce-4bb4-b62c-d5afd70fcc8b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        -128
      ],
      "id": "d78ad611-1f3e-412d-8f16-de6d8e41dd17",
      "name": "WI-Surat",
      "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        -128
      ],
      "id": "c03a82f7-8878-489d-be23-7ff95e021dca",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        128
      ],
      "id": "1d9f8e13-e893-439e-8e6c-16654ebca063",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        -128
      ],
      "id": "c7134a29-6c9b-495c-ba9c-0aae9fae56e4",
      "name": "Sub AI Agent Edit Surat "
    }
  ],
  "connections": {
    "Surat SKTM Inauga": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WI-Surat": {
      "main": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sub AI Agent Edit Surat ": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0b3c6ade-d86d-4758-80d7-ba39e8b2fbe0",
  "activeVersionId": "0b3c6ade-d86d-4758-80d7-ba39e8b2fbe0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T01:52:33.132Z",
      "createdAt": "2025-12-24T01:52:33.132Z",
      "role": "workflow:owner",
      "workflowId": "SbbLbwzqjK1cSqZz",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:39:19.376Z",
    "createdAt": "2025-12-29T05:39:19.376Z",
    "versionId": "0b3c6ade-d86d-4758-80d7-ba39e8b2fbe0",
    "workflowId": "SbbLbwzqjK1cSqZz",
    "nodes": [
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.body['Id Surat SKTM'] }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "{Tanggal_Surat}",
                "replaceText": "={{ $json.body['Tanggal Surat'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Pemerintah_Kabupaten}",
                "replaceText": "={{ $json.body['Pemerintah Kabupaten'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Distrik}",
                "replaceText": "={{ $json.body.Distrik }}"
              },
              {
                "action": "replaceAll",
                "text": "{Kampung_Kelurahan}",
                "replaceText": "={{ $json.body['Kampung Kelurahan'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Alamat_Kantor}",
                "replaceText": "={{ $json.body['Alamat Kantor'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Provinsi}",
                "replaceText": "={{ $json.body.Provinsi }}"
              },
              {
                "action": "replaceAll",
                "text": "{Kode_Pos}",
                "replaceText": "={{ $json.body['Kode Pos'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Email}",
                "replaceText": "={{ $json.body.Email }}"
              },
              {
                "action": "replaceAll",
                "text": "{Nomor_Surat}",
                "replaceText": "={{ $json.body['Nomor Surat'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_1}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 1'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_2}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 2'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_3}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 3'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_4}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 4'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_5}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 5'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Nama_Pemohon}",
                "replaceText": "={{ $json.body['Nama Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{NIK_Pemohon}",
                "replaceText": "={{ $json.body['NIK Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{TTL_Pemohon}",
                "replaceText": "={{ $json.body['TTL Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Agama_Pemohon}",
                "replaceText": "={{ $json.body['Agama Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Jenis_Kelamin_Pemohon}",
                "replaceText": "={{ $json.body['Jenis Kelamin Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Status_Perkawinan_Pemohon}",
                "replaceText": "={{ $json.body['Status Perkawinan Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Pekerjaan_Pemohon}",
                "replaceText": "={{ $json.body['Pekerjaan Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Alamat_Pemohon}",
                "replaceText": "={{ $json.body['Alamat Pemohon'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocsTool",
        "typeVersion": 2,
        "position": [
          400,
          112
        ],
        "id": "fdc6a6e2-bbb3-43cb-bedd-dc0c67afddba",
        "name": "Surat SKTM Inauga",
        "notesInFlow": true,
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "et8bSa0Nlnpparmf",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Folder\n### **[Edit Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/PRByDVbDdX8sYu1E)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Inauga](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/ljdkzS7nxWozXp95/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QmNJt19AbqrxTHd8/workflows) / [Edit Surat Inauga - Sub AI Agent]()** ",
          "height": 112,
          "width": 1008
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          -320
        ],
        "typeVersion": 1,
        "id": "51a777da-b03e-4983-b531-59460916ca04",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "",
          "height": 480,
          "width": 1008
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          -208
        ],
        "typeVersion": 1,
        "id": "0b53dcdc-77d3-412c-9f5f-2658d90be6dc",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -128,
          -192
        ],
        "typeVersion": 1,
        "id": "5550ad06-689f-49c6-936e-ccf50673b857",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Edit Surat ",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          112,
          -192
        ],
        "typeVersion": 1,
        "id": "ba65ab90-63ee-4e73-8105-dd1b5bd72ac0",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          512,
          -192
        ],
        "typeVersion": 1,
        "id": "8867c552-ac67-4196-86da-2c69b57f4dd2",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          48,
          48
        ],
        "typeVersion": 1,
        "id": "11e0a4f7-f3d1-46d7-96e8-c71b0c6c083c",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "content": "### Tool Edit Surat\n\n\n",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          48
        ],
        "typeVersion": 1,
        "id": "d3b8514f-38c2-49b7-b636-a98472821dd9",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ca627ce4-26ce-4bb4-b62c-d5afd70fcc8b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -48,
          -128
        ],
        "id": "d78ad611-1f3e-412d-8f16-de6d8e41dd17",
        "name": "WI-Surat",
        "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          544,
          -128
        ],
        "id": "c03a82f7-8878-489d-be23-7ff95e021dca",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          112,
          128
        ],
        "id": "1d9f8e13-e893-439e-8e6c-16654ebca063",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          176,
          -128
        ],
        "id": "c7134a29-6c9b-495c-ba9c-0aae9fae56e4",
        "name": "Sub AI Agent Edit Surat "
      }
    ],
    "connections": {
      "Surat SKTM Inauga": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "WI-Surat": {
        "main": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Sub AI Agent Edit Surat ": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}