Backup_29-12-2025/Edit Surat Distrik Wania - Sub AI Agent
{
  "updatedAt": "2025-12-29T05:39:43.086Z",
  "createdAt": "2025-12-24T01:56:23.407Z",
  "id": "R0TWbqTzQ5nVh9bO",
  "name": "Edit Surat Distrik Wania - Sub AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.body['Id Surat SKTM'] }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{Tanggal_Surat}",
              "replaceText": "={{ $json.body['Tanggal Surat'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Pemerintah_Kabupaten}",
              "replaceText": "={{ $json.body['Pemerintah Kabupaten'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Distrik}",
              "replaceText": "={{ $json.body.Distrik }}"
            },
            {
              "action": "replaceAll",
              "text": "{Kampung_Kelurahan}",
              "replaceText": "={{ $json.body['Kampung Kelurahan'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Alamat_Kantor}",
              "replaceText": "={{ $json.body['Alamat Kantor'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Provinsi}",
              "replaceText": "={{ $json.body.Provinsi }}"
            },
            {
              "action": "replaceAll",
              "text": "{Kode_Pos}",
              "replaceText": "={{ $json.body['Kode Pos'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Email}",
              "replaceText": "={{ $json.body.Email }}"
            },
            {
              "action": "replaceAll",
              "text": "{Nomor_Surat}",
              "replaceText": "={{ $json.body['Nomor Surat'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_1}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 1'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_2}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 2'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_3}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 3'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_4}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 4'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_5}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 5'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Nama_Pemohon}",
              "replaceText": "={{ $json.body['Nama Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{NIK_Pemohon}",
              "replaceText": "={{ $json.body['NIK Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{TTL_Pemohon}",
              "replaceText": "={{ $json.body['TTL Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Agama_Pemohon}",
              "replaceText": "={{ $json.body['Agama Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Jenis_Kelamin_Pemohon}",
              "replaceText": "={{ $json.body['Jenis Kelamin Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Status_Perkawinan_Pemohon}",
              "replaceText": "={{ $json.body['Status Perkawinan Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Pekerjaan_Pemohon}",
              "replaceText": "={{ $json.body['Pekerjaan Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Alamat_Pemohon}",
              "replaceText": "={{ $json.body['Alamat Pemohon'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -448,
        448
      ],
      "id": "f43ae74b-3c60-4063-a15d-0cb8b40ef096",
      "name": "Surat SKTM Distrik Wania",
      "notesInFlow": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "et8bSa0Nlnpparmf",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Folder\n### **[Edit Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/PRByDVbDdX8sYu1E)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Distrik Wania](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/2W8Bm3HjnAjYTdVX/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/4r9jT3nmf5PrHFp6/workflows) / [Edit Surat Distrik Wania - Sub AI Agent]()** ",
        "height": 112,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        16
      ],
      "typeVersion": 1,
      "id": "d6b1f917-f4f6-4e9d-8b34-2da630f87bad",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        128
      ],
      "typeVersion": 1,
      "id": "29431659-7821-4813-be0b-62997be7aa07",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        144
      ],
      "typeVersion": 1,
      "id": "9b076a2a-5ef7-4db4-a1dc-64fda72efd4b",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Edit Surat ",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        144
      ],
      "typeVersion": 1,
      "id": "979e87a0-9b78-4fb3-b346-f74f992858e4",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        144
      ],
      "typeVersion": 1,
      "id": "e60fbb9c-ce44-4ec8-9731-e325f2fbae07",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        384
      ],
      "typeVersion": 1,
      "id": "21b5765b-d784-460e-bd2b-9a8d8a7d7a82",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "### Tool Edit Surat\n\n\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        384
      ],
      "typeVersion": 1,
      "id": "e39d0ba1-945a-4553-b135-7fb8b8ad30a0",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "27ebd187-a17a-42e1-b1ad-0c98f5775a9b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        208
      ],
      "id": "9c016675-a41f-4260-b4d0-f14fcb7f1062",
      "name": "WI-Surat",
      "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -288,
        208
      ],
      "id": "7549eb37-e54f-4d43-a054-cd84c5e9542f",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        464
      ],
      "id": "0560a041-2b29-40a1-ad18-f003ad28cde1",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -656,
        208
      ],
      "id": "b5014dc5-6503-495b-aa51-b0f3be07767e",
      "name": "Sub AI Agent Edit Surat "
    }
  ],
  "connections": {
    "Surat SKTM Distrik Wania": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WI-Surat": {
      "main": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sub AI Agent Edit Surat ": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "28030555-2a4b-4510-bf81-9e5321f3b4e4",
  "activeVersionId": "28030555-2a4b-4510-bf81-9e5321f3b4e4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T01:56:23.410Z",
      "createdAt": "2025-12-24T01:56:23.410Z",
      "role": "workflow:owner",
      "workflowId": "R0TWbqTzQ5nVh9bO",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:39:43.087Z",
    "createdAt": "2025-12-29T05:39:43.087Z",
    "versionId": "28030555-2a4b-4510-bf81-9e5321f3b4e4",
    "workflowId": "R0TWbqTzQ5nVh9bO",
    "nodes": [
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.body['Id Surat SKTM'] }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "{Tanggal_Surat}",
                "replaceText": "={{ $json.body['Tanggal Surat'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Pemerintah_Kabupaten}",
                "replaceText": "={{ $json.body['Pemerintah Kabupaten'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Distrik}",
                "replaceText": "={{ $json.body.Distrik }}"
              },
              {
                "action": "replaceAll",
                "text": "{Kampung_Kelurahan}",
                "replaceText": "={{ $json.body['Kampung Kelurahan'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Alamat_Kantor}",
                "replaceText": "={{ $json.body['Alamat Kantor'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Provinsi}",
                "replaceText": "={{ $json.body.Provinsi }}"
              },
              {
                "action": "replaceAll",
                "text": "{Kode_Pos}",
                "replaceText": "={{ $json.body['Kode Pos'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Email}",
                "replaceText": "={{ $json.body.Email }}"
              },
              {
                "action": "replaceAll",
                "text": "{Nomor_Surat}",
                "replaceText": "={{ $json.body['Nomor Surat'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_1}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 1'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_2}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 2'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_3}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 3'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_4}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 4'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_5}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 5'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Nama_Pemohon}",
                "replaceText": "={{ $json.body['Nama Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{NIK_Pemohon}",
                "replaceText": "={{ $json.body['NIK Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{TTL_Pemohon}",
                "replaceText": "={{ $json.body['TTL Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Agama_Pemohon}",
                "replaceText": "={{ $json.body['Agama Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Jenis_Kelamin_Pemohon}",
                "replaceText": "={{ $json.body['Jenis Kelamin Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Status_Perkawinan_Pemohon}",
                "replaceText": "={{ $json.body['Status Perkawinan Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Pekerjaan_Pemohon}",
                "replaceText": "={{ $json.body['Pekerjaan Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Alamat_Pemohon}",
                "replaceText": "={{ $json.body['Alamat Pemohon'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocsTool",
        "typeVersion": 2,
        "position": [
          -448,
          448
        ],
        "id": "f43ae74b-3c60-4063-a15d-0cb8b40ef096",
        "name": "Surat SKTM Distrik Wania",
        "notesInFlow": true,
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "et8bSa0Nlnpparmf",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Folder\n### **[Edit Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/PRByDVbDdX8sYu1E)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Distrik Wania](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/2W8Bm3HjnAjYTdVX/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/4r9jT3nmf5PrHFp6/workflows) / [Edit Surat Distrik Wania - Sub AI Agent]()** ",
          "height": 112,
          "width": 1008
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1024,
          16
        ],
        "typeVersion": 1,
        "id": "d6b1f917-f4f6-4e9d-8b34-2da630f87bad",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "",
          "height": 480,
          "width": 1008
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1024,
          128
        ],
        "typeVersion": 1,
        "id": "29431659-7821-4813-be0b-62997be7aa07",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -960,
          144
        ],
        "typeVersion": 1,
        "id": "9b076a2a-5ef7-4db4-a1dc-64fda72efd4b",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Edit Surat ",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -720,
          144
        ],
        "typeVersion": 1,
        "id": "979e87a0-9b78-4fb3-b346-f74f992858e4",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -320,
          144
        ],
        "typeVersion": 1,
        "id": "e60fbb9c-ce44-4ec8-9731-e325f2fbae07",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -784,
          384
        ],
        "typeVersion": 1,
        "id": "21b5765b-d784-460e-bd2b-9a8d8a7d7a82",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "content": "### Tool Edit Surat\n\n\n",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -512,
          384
        ],
        "typeVersion": 1,
        "id": "e39d0ba1-945a-4553-b135-7fb8b8ad30a0",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "27ebd187-a17a-42e1-b1ad-0c98f5775a9b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -880,
          208
        ],
        "id": "9c016675-a41f-4260-b4d0-f14fcb7f1062",
        "name": "WI-Surat",
        "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -288,
          208
        ],
        "id": "7549eb37-e54f-4d43-a054-cd84c5e9542f",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -720,
          464
        ],
        "id": "0560a041-2b29-40a1-ad18-f003ad28cde1",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -656,
          208
        ],
        "id": "b5014dc5-6503-495b-aa51-b0f3be07767e",
        "name": "Sub AI Agent Edit Surat "
      }
    ],
    "connections": {
      "Surat SKTM Distrik Wania": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "WI-Surat": {
        "main": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Sub AI Agent Edit Surat ": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}