Backup_29-12-2025/Edit Surat - Sub AI Agent
{
  "updatedAt": "2025-12-29T05:37:18.817Z",
  "createdAt": "2025-12-24T01:35:02.997Z",
  "id": "Vh6oTdwM5GJPKGGG",
  "name": "Edit Surat - Sub AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.body['Id Surat SKTM'] }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{Tanggal_Surat}",
              "replaceText": "={{ $json.body['Tanggal Surat'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Pemerintah_Kabupaten}",
              "replaceText": "={{ $json.body['Pemerintah Kabupaten'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Distrik}",
              "replaceText": "={{ $json.body.Distrik }}"
            },
            {
              "action": "replaceAll",
              "text": "{Kampung_Kelurahan}",
              "replaceText": "={{ $json.body['Kampung Kelurahan'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Alamat_Kantor}",
              "replaceText": "={{ $json.body['Alamat Kantor'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Provinsi}",
              "replaceText": "={{ $json.body.Provinsi }}"
            },
            {
              "action": "replaceAll",
              "text": "{Kode_Pos}",
              "replaceText": "={{ $json.body['Kode Pos'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Email}",
              "replaceText": "={{ $json.body.Email }}"
            },
            {
              "action": "replaceAll",
              "text": "{Nomor_Surat}",
              "replaceText": "={{ $json.body['Nomor Surat'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_1}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 1'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_2}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 2'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_3}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 3'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_4}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 4'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Keterangan_SKTM_Nomor_5}",
              "replaceText": "={{ $json.body['Keterangan SKTM Nomor 5'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Nama_Pemohon}",
              "replaceText": "={{ $json.body['Nama Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{NIK_Pemohon}",
              "replaceText": "={{ $json.body['NIK Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{TTL_Pemohon}",
              "replaceText": "={{ $json.body['TTL Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Agama_Pemohon}",
              "replaceText": "={{ $json.body['Agama Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Jenis_Kelamin_Pemohon}",
              "replaceText": "={{ $json.body['Jenis Kelamin Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Status_Perkawinan_Pemohon}",
              "replaceText": "={{ $json.body['Status Perkawinan Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Pekerjaan_Pemohon}",
              "replaceText": "={{ $json.body['Pekerjaan Pemohon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{Alamat_Pemohon}",
              "replaceText": "={{ $json.body['Alamat Pemohon'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        64,
        80
      ],
      "id": "f15992f3-880d-433d-9025-0bbb3a94bd44",
      "name": "Surat SKTM Mawokau Jaya",
      "notesInFlow": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "et8bSa0Nlnpparmf",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Folder\n### **[Edit Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/PRByDVbDdX8sYu1E)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kampung Mawokau Jaya](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QA3wakPu2e2t1Wsc/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/l5O9uhHHxLl30Szw/workflows) / [Edit Surat - Sub AI Agent]()** ",
        "height": 112,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -336
      ],
      "typeVersion": 1,
      "id": "f545e873-5da4-484e-b8c0-3179e0caa189",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -224
      ],
      "typeVersion": 1,
      "id": "1da140f1-b9d7-4d7f-af80-396b10268f61",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -208
      ],
      "typeVersion": 1,
      "id": "62b01fe6-8e84-4b14-89eb-7a1e729acee7",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Edit Surat ",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -208
      ],
      "typeVersion": 1,
      "id": "87ebf322-ce3b-411d-af86-97b647341640",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -208
      ],
      "typeVersion": 1,
      "id": "1cb0978a-30ac-4cd1-be8b-1e11fe17730f",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        32
      ],
      "typeVersion": 1,
      "id": "feb5acb6-1b12-4374-8b7c-a8fdd6aefa7c",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "### Tool Edit Surat\n\n\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        32
      ],
      "typeVersion": 1,
      "id": "07bb9010-041d-4d95-bb57-baa83cb957d2",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eb656647-d19c-4235-8c28-ef7211f4cd9c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -144
      ],
      "id": "dceb0699-7c22-40a5-844f-af7f58ec79d5",
      "name": "WI-Surat",
      "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        -144
      ],
      "id": "04eb0166-acce-4630-b2e2-c67cc6b9c2ae",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        96
      ],
      "id": "b5dccb56-ae92-48c1-baa9-47aaff05044e",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        -144
      ],
      "id": "ecff2f29-080f-4022-a6ee-bae26c071b10",
      "name": "Sub AI Agent Edit Surat "
    }
  ],
  "connections": {
    "Surat SKTM Mawokau Jaya": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WI-Surat": {
      "main": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "Sub AI Agent Edit Surat ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sub AI Agent Edit Surat ": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "844691a6-c2d7-4311-86f3-229c678c488f",
  "activeVersionId": "844691a6-c2d7-4311-86f3-229c678c488f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T01:35:03.001Z",
      "createdAt": "2025-12-24T01:35:03.001Z",
      "role": "workflow:owner",
      "workflowId": "Vh6oTdwM5GJPKGGG",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:37:18.817Z",
    "createdAt": "2025-12-29T05:37:18.817Z",
    "versionId": "844691a6-c2d7-4311-86f3-229c678c488f",
    "workflowId": "Vh6oTdwM5GJPKGGG",
    "nodes": [
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.body['Id Surat SKTM'] }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "{Tanggal_Surat}",
                "replaceText": "={{ $json.body['Tanggal Surat'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Pemerintah_Kabupaten}",
                "replaceText": "={{ $json.body['Pemerintah Kabupaten'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Distrik}",
                "replaceText": "={{ $json.body.Distrik }}"
              },
              {
                "action": "replaceAll",
                "text": "{Kampung_Kelurahan}",
                "replaceText": "={{ $json.body['Kampung Kelurahan'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Alamat_Kantor}",
                "replaceText": "={{ $json.body['Alamat Kantor'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Provinsi}",
                "replaceText": "={{ $json.body.Provinsi }}"
              },
              {
                "action": "replaceAll",
                "text": "{Kode_Pos}",
                "replaceText": "={{ $json.body['Kode Pos'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Email}",
                "replaceText": "={{ $json.body.Email }}"
              },
              {
                "action": "replaceAll",
                "text": "{Nomor_Surat}",
                "replaceText": "={{ $json.body['Nomor Surat'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_1}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 1'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_2}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 2'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_3}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 3'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_4}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 4'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Keterangan_SKTM_Nomor_5}",
                "replaceText": "={{ $json.body['Keterangan SKTM Nomor 5'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Nama_Pemohon}",
                "replaceText": "={{ $json.body['Nama Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{NIK_Pemohon}",
                "replaceText": "={{ $json.body['NIK Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{TTL_Pemohon}",
                "replaceText": "={{ $json.body['TTL Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Agama_Pemohon}",
                "replaceText": "={{ $json.body['Agama Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Jenis_Kelamin_Pemohon}",
                "replaceText": "={{ $json.body['Jenis Kelamin Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Status_Perkawinan_Pemohon}",
                "replaceText": "={{ $json.body['Status Perkawinan Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Pekerjaan_Pemohon}",
                "replaceText": "={{ $json.body['Pekerjaan Pemohon'] }}"
              },
              {
                "action": "replaceAll",
                "text": "{Alamat_Pemohon}",
                "replaceText": "={{ $json.body['Alamat Pemohon'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocsTool",
        "typeVersion": 2,
        "position": [
          64,
          80
        ],
        "id": "f15992f3-880d-433d-9025-0bbb3a94bd44",
        "name": "Surat SKTM Mawokau Jaya",
        "notesInFlow": true,
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "et8bSa0Nlnpparmf",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Folder\n### **[Edit Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/PRByDVbDdX8sYu1E)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kampung Mawokau Jaya](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QA3wakPu2e2t1Wsc/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/l5O9uhHHxLl30Szw/workflows) / [Edit Surat - Sub AI Agent]()** ",
          "height": 112,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -496,
          -336
        ],
        "typeVersion": 1,
        "id": "f545e873-5da4-484e-b8c0-3179e0caa189",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "",
          "height": 480,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -496,
          -224
        ],
        "typeVersion": 1,
        "id": "1da140f1-b9d7-4d7f-af80-396b10268f61",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          -208
        ],
        "typeVersion": 1,
        "id": "62b01fe6-8e84-4b14-89eb-7a1e729acee7",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Edit Surat ",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -208,
          -208
        ],
        "typeVersion": 1,
        "id": "87ebf322-ce3b-411d-af86-97b647341640",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          192,
          -208
        ],
        "typeVersion": 1,
        "id": "1cb0978a-30ac-4cd1-be8b-1e11fe17730f",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -272,
          32
        ],
        "typeVersion": 1,
        "id": "feb5acb6-1b12-4374-8b7c-a8fdd6aefa7c",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "content": "### Tool Edit Surat\n\n\n",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          32
        ],
        "typeVersion": 1,
        "id": "07bb9010-041d-4d95-bb57-baa83cb957d2",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "eb656647-d19c-4235-8c28-ef7211f4cd9c",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -368,
          -144
        ],
        "id": "dceb0699-7c22-40a5-844f-af7f58ec79d5",
        "name": "WI-Surat",
        "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          224,
          -144
        ],
        "id": "04eb0166-acce-4630-b2e2-c67cc6b9c2ae",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -208,
          96
        ],
        "id": "b5dccb56-ae92-48c1-baa9-47aaff05044e",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -144,
          -144
        ],
        "id": "ecff2f29-080f-4022-a6ee-bae26c071b10",
        "name": "Sub AI Agent Edit Surat "
      }
    ],
    "connections": {
      "Surat SKTM Mawokau Jaya": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "WI-Surat": {
        "main": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "Sub AI Agent Edit Surat ",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Sub AI Agent Edit Surat ": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}