Backup_29-12-2025/My workflow 29
{
  "updatedAt": "2025-10-10T02:11:11.000Z",
  "createdAt": "2025-09-27T05:08:35.980Z",
  "id": "DCduw7IDGOF6ABco",
  "name": "My workflow 29",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Anda adalah AI OCR yang ahli membaca dan memahami teks pada gambar.\nTugas Anda: Membaca semua teks yang terlihat pada gambar dan membaca caption yang dikirim bersama gambar, lalu mengembalikannya dalam format JSON sesuai struktur data yang ditemukan di gambar tersebut.\n\nInstruksi penting:\n\nIdentifikasi semua elemen informasi yang terlihat pada gambar, baik tabel, daftar, atau teks bebas.\n\nTambahkan juga key \"Caption = {{ $('Trigger Whatsapp').item.json.payload._data.message.imageMessage.caption }}\" yang berisi teks caption yang dikirim bersama gambar.\n\nGunakan nama field (key JSON) yang merepresentasikan judul/label yang terlihat di gambar.\n\nJika gambar memiliki struktur tabel, gunakan nama kolom sebagai key dan isi nilainya sesuai isi tabel.\n\nJika ada label dan nilai (contoh: \"Nama: John\"), gunakan label sebagai key dan nilai sebagai value.\n\nJika nilai tidak terbaca atau tidak ada, isi value dengan null.\n\nGunakan format JSON yang valid dan hanya kembalikan JSON tanpa penjelasan tambahan.\n\nPertahankan urutan field seperti pada gambar.\n\nContoh Output:\n{\n  \"Caption\": \"Buat surat \",\n  \"Field1\": \"Value1\",\n  \"Field2\": \"Value2\",\n  \"Field3\": null\n}\nKembalikan hanya hasil JSON.",
        "inputType": "base64",
        "options": {
          "detail": "high"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -720,
        912
      ],
      "id": "39f356d5-a055-41c0-80b7-f5f6f148437f",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('Trigger Whatsapp').item.json.session }}",
        "chatId": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -496,
        720
      ],
      "id": "c2a1cc56-9c4a-4ceb-bf27-d0295efc55b8",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('Trigger Whatsapp').item.json.session }}",
        "chatId": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        5744,
        528
      ],
      "id": "8cbe2293-2f67-4aa3-9252-4189abd481b7",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f82b108-3032-475a-bce3-1a6eb9222e9d",
              "name": "adminNumbers",
              "value": "=6285652240263@c.us",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        624
      ],
      "id": "86e4fefd-a277-4445-8d81-8123108a856b",
      "name": "Set Admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "966e5966-8f58-42a9-a0b6-7997f637e49d",
              "leftValue": "={{ $json.payload.from.split('@')[1] }}",
              "rightValue": "c.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        624
      ],
      "id": "c927cf8e-3a07-4a63-b942-f00b1a13ef7d",
      "name": "Filter Chat User/Grop"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -720,
        720
      ],
      "id": "32b2f77d-7ef3-4aa5-bcac-6ecaffc61336",
      "name": "Read Message",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f13ce29-0341-4058-abc3-ab85cf1dd0f7",
              "name": "output",
              "value": "={{ $('Trigger Whatsapp').item.json.payload.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        720
      ],
      "id": "4d656d11-0d03-468b-acea-fc5b8905378c",
      "name": "Set Text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        624
      ],
      "id": "53289f70-72f6-490c-a336-02ec120d1259",
      "name": "Join Text/Img"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5520,
        528
      ],
      "id": "f6d48a8e-c984-41f9-b44f-c84db9f546a6",
      "name": "Join AI Admin/User"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Trigger Whatsapp').item.json.session }}",
        "chatId": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "text": "={{ $('Join AI Admin/User').item.json.output }}\n",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        5968,
        528
      ],
      "id": "08d994a9-8d84-4100-a564-af81da5522ed",
      "name": "Send message Whatsapp",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -2064,
        240
      ],
      "id": "d2c827c1-eaab-411b-8835-9ea5e0c6d78e",
      "name": "Trigger Whatsapp",
      "webhookId": "f19cafab-b6b5-4dde-ac5d-7af485bff9c3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f70723c1-b030-4a8a-a668-e9df016edcda",
              "leftValue": "={{ $('Trigger Whatsapp').item.json.payload.media.mimetype }}",
              "rightValue": "audio/ogg; codecs=opus",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1392,
        528
      ],
      "id": "1672fdda-a9c7-4eb7-b730-6505ce001e9b",
      "name": "Voice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f70723c1-b030-4a8a-a668-e9df016edcda",
              "leftValue": "={{ $('Trigger Whatsapp').item.json.payload.media.mimetype }}",
              "rightValue": "image/jpeg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1168,
        1104
      ],
      "id": "de6605b5-c2d1-4291-ae64-4660abf397e7",
      "name": "Image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f70723c1-b030-4a8a-a668-e9df016edcda",
              "leftValue": "={{ $('Trigger Whatsapp').item.json.payload.hasMedia }}",
              "rightValue": "audio/ogg; codecs=opus",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        720
      ],
      "id": "0830ceac-0ce4-447b-b07f-e999e8bfeb14",
      "name": "Text"
    },
    {
      "parameters": {
        "url": "={{ $('Trigger Whatsapp').item.json.payload.media.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        528
      ],
      "id": "1d009420-81a7-4548-9072-60f061677d08",
      "name": "Save Voice",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Trigger Whatsapp').item.json.payload.media.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        1104
      ],
      "id": "549e9677-e978-4271-b536-af3bbba67900",
      "name": "Save Image",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -496,
        528
      ],
      "id": "cb13ac00-5fde-4948-9084-4130499680df",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ed38ab0-caf8-42b7-9dfe-b1846a3530b2",
              "leftValue": "={{ $('Trigger Whatsapp').item.json.payload.media.mimetype }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1168,
        96
      ],
      "id": "7f8ea268-ad41-404b-8199-b6bb14413cad",
      "name": "File Pdf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47ecb44c-702a-4666-bcf5-546701153d8b",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        528
      ],
      "id": "ddc68feb-e1b1-4f4d-98f0-8ca8fde15d12",
      "name": "Set Voice"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1NHzcZseg3yPvEsJBmv88s9RwrrK6jG7A",
          "mode": "list",
          "cachedResultName": "Gambar_Kawe_Nia",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NHzcZseg3yPvEsJBmv88s9RwrrK6jG7A"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        1200
      ],
      "id": "4d4f09b1-2664-49b1-883a-2e26a3e25aca",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "F3QJO8ajqWODP0GO",
          "name": "Google Drive Mimikawania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        1200
      ],
      "id": "0d9970f5-7183-4ac4-a4d1-4b9abf67fd70",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "F3QJO8ajqWODP0GO",
          "name": "Google Drive Mimikawania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('Trigger Whatsapp').item.json.session }}",
        "chatId": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -944,
        528
      ],
      "id": "58dd8384-7e0a-45fd-af85-6ea3a37be291",
      "name": "Start Typing1",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -1168,
        528
      ],
      "id": "8e801785-8677-422f-8a27-65adb1ad4f50",
      "name": "Read Message1",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "={{ \"wa_\" + $('Trigger Whatsapp').item.json.payload.from.replace(/[^a-zA-Z0-9]/g, \"_\") }}\n",
        "embeddingBatchSize": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -48,
        1008
      ],
      "id": "5a6e56d3-8043-40ae-b2cb-649cbeb47543",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        1232
      ],
      "id": "7b4f5c80-3ffd-4406-aa90-37174eba8aee",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        1232
      ],
      "id": "9f72c11e-bdd3-4988-9584-e714b63e6923",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5280,
        1168
      ],
      "id": "ff3eef4e-1c97-4791-aa8d-374037b8dbb1",
      "name": "Embeddings OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "tableName": "=KawewNia",
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2400,
        752
      ],
      "id": "c21c1743-0521-424b-bc06-5f4c92fef28b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1j_lBRGhQcYfU2YCKxgBFTzkslaXsSKhE",
          "mode": "list",
          "cachedResultName": "File_Kawe_Nia",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1j_lBRGhQcYfU2YCKxgBFTzkslaXsSKhE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        0
      ],
      "id": "caa67057-e90e-4641-bb03-a80ee4d43794",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "F3QJO8ajqWODP0GO",
          "name": "Google Drive Mimikawania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        -48
      ],
      "id": "00c96a4c-0403-4d32-92a0-003f8b1411a9",
      "name": "Share file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "F3QJO8ajqWODP0GO",
          "name": "Google Drive Mimikawania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "={{ \"wa_\" + $('Trigger Whatsapp').item.json.payload.from.replace(/[^a-zA-Z0-9]/g, \"_\") }}\n",
        "embeddingBatchSize": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -48,
        144
      ],
      "id": "57f33888-5fb5-4a73-9787-2fc762b6bd6d",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        368
      ],
      "id": "c0f91ae3-ae1f-424f-a7fb-d052786cfdb7",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        368
      ],
      "id": "482d44de-8deb-4819-b956-aaf8b1d83e1b",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Cari pengetahuan Kantor. WAJIB dipanggil lebih dulu sebelum menjawab.",
        "tableName": "Database_Kantor",
        "topK": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        4736,
        960
      ],
      "id": "6cc9ac67-4e73-4b61-b0c8-b0ee7c4e3a2b",
      "name": "Database Kantor",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4816,
        1168
      ],
      "id": "62bf1a93-6683-448e-95c0-7d913651dcd4",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1840,
        3616
      ],
      "id": "96e01b26-5117-4809-bd71-f5a636892d0f",
      "name": "Embeddings OpenAI5",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1712,
        3616
      ],
      "id": "f35193da-a82d-408d-8261-ca4fceb08237",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2064,
        2448
      ],
      "id": "76c81e2c-1098-4093-b309-e40a1aa3f3ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "kawewnia",
          "mode": "list",
          "cachedResultName": "kawewnia"
        },
        "deleteCommand": "drop",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        2064
      ],
      "id": "09bd6af4-2856-476b-b7b5-e8b42a83f4ad",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.payload.media.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        96
      ],
      "id": "2faf9786-b85f-475b-aa47-75be1934e4e5",
      "name": "Save File",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE'\n  AND table_schema NOT IN ('pg_catalog', 'information_schema')\nORDER BY table_schema, table_name;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        2640
      ],
      "id": "66b82b28-005b-412b-abf0-f346e5fbe264",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2064,
        3072
      ],
      "id": "a5274ae8-8e8d-44bd-abb4-605522c9c05b",
      "name": "When chat message received",
      "webhookId": "c5bf6426-0cbe-4d78-9f4d-918633bdb129"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Pastikan Anda berada di DB yang benar\nSELECT current_database() AS db, current_user AS usr;\n\n-- Lihat semua schema yang ada\nSELECT schema_name FROM information_schema.schemata ORDER BY schema_name;\n\n-- Lihat semua tabel “base table” di schema public (versi 1 - information_schema)\nSELECT table_name\nFROM information_schema.tables\nWHERE table_schema = 'public'\n  AND table_type = 'BASE TABLE'\nORDER BY table_name;\n\n-- Alternatif (versi 2 - pg_catalog, kadang lebih “jujur”)\nSELECT schemaname, tablename\nFROM pg_catalog.pg_tables\nWHERE schemaname = 'public'\nORDER BY tablename;\n\n-- Hitung jumlah tabel di schema public\nSELECT COUNT(*) AS total_tables\nFROM pg_catalog.pg_tables\nWHERE schemaname = 'public';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        2256
      ],
      "id": "e24f1b31-b6ae-43b4-a3a7-57be0791780e",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Cari Pengetahuan User. WAJIB dipanggil lebih dulu sebelum menjawab.",
        "tableName": "={{ \"wa_\" + $('Trigger Whatsapp').item.json.payload.from.replace(/[^a-zA-Z0-9]/g, \"_\") }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        5200,
        976
      ],
      "id": "9b1a3b4a-7a9b-4514-b26e-f5e5984faca6",
      "name": "Database User",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "Database_Kantor",
        "embeddingBatchSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -1840,
        3392
      ],
      "id": "1a244def-109c-4a45-bdcd-5e9568772743",
      "name": "Database Kantor11",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -720,
        336
      ],
      "id": "8f2852dc-46bb-4fdb-a33e-75327fc7b74a",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47ecb44c-702a-4666-bcf5-546701153d8b",
              "name": "output",
              "value": "=nama lampiran = {{ $json.name }}\nid lampiran = {{ $json.id }}\nlink lampiran = {{ $json.webViewLink }}\n\nisi = {{ $json.text }}\n\n\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        144
      ],
      "id": "28534559-e194-49a9-b526-8f9c5d327760",
      "name": "Set Pdf1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        1008
      ],
      "id": "8ae622d9-3b71-40ce-90f5-87c75c26b089",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        192
      ],
      "id": "df0263cc-b98b-4f7c-9757-b4d14b054781",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "output",
        "key": "=push{{ $('Trigger Whatsapp').item.json.payload.from }}",
        "keyType": "list",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        976,
        624
      ],
      "id": "1fc5d616-e496-4272-90b6-60ca0ba85e9a",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "oqpXjqokcfpLreDn",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b19f2762-fa90-460e-8853-152b1cefab1e",
              "leftValue": "={{$json.output.length > 0}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        624
      ],
      "id": "b8626ad7-e834-45f2-8f9f-e27b12f1b15f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=push{{ $('Trigger Whatsapp').item.json.payload.from }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1648,
        528
      ],
      "id": "a934d6d4-56a3-43db-931a-feace5c99350",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "oqpXjqokcfpLreDn",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1648,
        720
      ],
      "id": "16f53449-fa2a-4ed5-85ee-a2419fd67651",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47ecb44c-702a-4666-bcf5-546701153d8b",
              "name": "=output",
              "value": "=nama lampiran = {{ $json.name }}\nid lampiran = {{ $json.id }}\nlink lampiran = {{ $json.webViewLink }}\n\nisi = {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        1008
      ],
      "id": "6ebf63aa-2467-4ea1-9150-679178ae8485",
      "name": "Set Img"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=push{{ $('Trigger Whatsapp').item.json.payload.from }}",
        "messageData": "={{ $json.output }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        304,
        624
      ],
      "id": "90e7cf35-4295-489c-916a-0a4a7f57608d",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "oqpXjqokcfpLreDn",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ \n  Number(\n    $('Redis3').item.json[`increment${$('Trigger Whatsapp').item.json.payload.from}`] ?? 0\n  ) * 10\n}}\n\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        624
      ],
      "id": "3b6ee8f1-47c0-4fff-8fea-2424ea9d1170",
      "name": "Wait",
      "webhookId": "61f089ef-e4dd-484c-b251-0e0808d2e13b"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=increment6285230047347@c.us"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1840,
        2832
      ],
      "id": "2110ca4d-4042-40cf-af0e-96766d18fd8b",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "oqpXjqokcfpLreDn",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=increment{{ $('Trigger Whatsapp').item.json.payload.from }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        528,
        624
      ],
      "id": "c27dcfc4-62c1-4256-ae26-6f52f2833b43",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "oqpXjqokcfpLreDn",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "6285230047347@c.us"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1840,
        2448
      ],
      "id": "39408599-bef6-47e2-9329-9b123d8949db",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "oqpXjqokcfpLreDn",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=increment{{ $('Trigger Whatsapp').item.json.payload.from }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        528
      ],
      "id": "6fb6bb2b-c846-44cd-b4c7-68991d9b0788",
      "name": "Redis6",
      "credentials": {
        "redis": {
          "id": "oqpXjqokcfpLreDn",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    output: $json.output.reverse()\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        624
      ],
      "id": "2f015532-a59a-412d-b018-fc19a7a2bd9f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "=agunghenditemorubun@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3680,
        960
      ],
      "id": "6110913c-d3b3-4ffe-9725-ce8fd86b5549",
      "name": "Send a message in Gmail",
      "webhookId": "9cad813b-c4b1-4d93-9245-5a06387752b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "9aYzCtBt2DvqcpA3",
          "name": "MimikaWania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "tableName": "KawewNia",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2688,
        960
      ],
      "id": "e7ff5d03-a5c4-439e-8369-41c41b8ff302",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "tableName": "KawewNia",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3568,
        960
      ],
      "id": "ddaa0601-8049-4371-8fa7-5d0e6e67552e",
      "name": "Postgres Chat Memory4",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "description": "gunakan ini untuk membuat surat keterangan tidak mampu",
        "workflowId": {
          "__rl": true,
          "value": "3DafyIQJmqkYolmj",
          "mode": "list",
          "cachedResultName": "Surat Keterangan Tidak Mampu"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ DateTime.now().setZone('Asia/Tokyo').setLocale('id').toFormat('dd MMMM yyyy') }}",
            "Nama": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nama', ``, 'string') }}",
            "NIK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NIK', ``, 'string') }}",
            "TTL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TTL', ``, 'string') }}",
            "Agama": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agama', ``, 'string') }}",
            "JenisKelamin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JenisKelamin', ``, 'string') }}",
            "StatusPerkawinan": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('StatusPerkawinan', ``, 'string') }}",
            "Pekerjaan": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pekerjaan', ``, 'string') }}",
            "Alamat": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Alamat', ``, 'string') }}",
            "Kelurahan/Kampung": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Kelurahan_Kampung', ``, 'string') }}",
            "Kecamatan": "Wania",
            "Kabupaten": "Mimika",
            "Provinsi": "Papua Tengah",
            "WAHA_Trigger_session": "={{ $('Trigger Whatsapp').item.json.session }}",
            "WAHA_Trigger_payload_from": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
            "LogoURL": "https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Lambang_Kabupaten_Mimika.jpg/500px-Lambang_Kabupaten_Mimika.jpg",
            "URL_POST": "https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/5f3c9805-585e-4dd8-a9de-b83aa21cd301"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "NIK",
              "displayName": "NIK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "TTL",
              "displayName": "TTL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Agama",
              "displayName": "Agama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "JenisKelamin",
              "displayName": "JenisKelamin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "StatusPerkawinan",
              "displayName": "StatusPerkawinan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pekerjaan",
              "displayName": "Pekerjaan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Alamat",
              "displayName": "Alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Kelurahan/Kampung",
              "displayName": "Kelurahan/Kampung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Kecamatan",
              "displayName": "Kecamatan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Kabupaten",
              "displayName": "Kabupaten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Provinsi",
              "displayName": "Provinsi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "WAHA_Trigger_session",
              "displayName": "WAHA_Trigger_session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "WAHA_Trigger_payload_from",
              "displayName": "WAHA_Trigger_payload_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "LogoURL",
              "displayName": "LogoURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL_POST",
              "displayName": "URL_POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2528,
        752
      ],
      "id": "befa9607-5714-4b5c-b91a-8199b3d3a71a",
      "name": "Surat Keterangan Tidak Mampu"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n",
        "options": {
          "systemMessage": "=# ===============================\n# 🟣 Parent Agent – Kawe Nia\n# ===============================\n# RUMUS SYSTEM MESSAGE ROC–T–TOC\n# (Di setiap bagian gunakan dua lapis: Rule & Route)\n\n## === R (ROLE) ===\n### Rule (Aturan Identitas Kawe Nia)\n- Kawe Nia adalah **Parent Agent**, perempuan Papua yang ramah, sopan, penuh kasih, profesional.\n- Tugas: **frontdesk** layanan Distrik Wania 24/7.\n- Dilarang memakai kata ganti orang (saya, aku, kami, kita).\n\n### Route (Eksekusi Identitas Kawe Nia)\n- Persona wajib di setiap balasan: wajib menggunakan emoji hangat minimal 1 emot hangat.\n- Kenali maksud pesan, **teruskan seluruh informasi** ke Sub-Agent (pesan, metadata, identitas, waktu, variabel, log, lampiran) **tanpa menampilkannya ke warga**.\n\n---\n\n## === R (ROLE) Lawan Bicara ===\n### Rule (Aturan Identitas Lawan Bicara)\n- Nama WA: `{{ $('Trigger Whatsapp').item.json.payload._data.pushName }}`\n- Nomor WA: `{{ $('Trigger Whatsapp').item.json.payload.from.split('@')[0] }}`\n- Jenis kelamin: ditebak AI dari nama (Bapak/Mama/Netral).\n- Salam waktu: `{{$json.waktu_salam}}`\n- Waktu detail: `{{$json.waktu_detail}}`\n\n### Route\n- Gunakan panggilan Bapak/Mama/nama sesuai tebakan; jika tidak yakin → gunakan **nama saja**; bila nama kosong → fallback **“Bapa/Mama”**.\n- Salam waktu hanya pada **sapaan pertama setiap hari**.\n- Identitas & metadata hanya untuk Sub-Agent (jangan tampilkan ke warga).\n\n---\n\n## === O (OBJECTIVE) ===\n### Rule\n- Warga menerima balasan hangat, ringkas, rapi (maks. 1 emoji).\n- Alur kerja standar:\n  1) Sapaan (formal pada interaksi pertama hari itu).\n  2) Deteksi intent (Aspirasi / Pengaduan / SKTM / Database Kantor / Database User).\n  3) **Selalu** panggil Sub-Agent sesuai intent.\n  4) Terima keluaran Sub-Agent (DITERIMA / KURANG / RINGKASAN / DRAF).\n  5) Rapikan hasil sebelum dikirim ke warga.\n\n### Route\n- Parent = **orchestrator/frontdesk**; Sub-Agent = **backend penuh**.\n- Jangan menampilkan instruksi teknis, metadata, atau payload ke warga.\n\n---\n\n## === C (CONSTRAINT) ===\n### Rule\n- **WAJIB TOOL**: dilarang menjawab langsung; **selalu** panggil salah satu tool.\n- **Routing paksa (kata kunci)**:\n  - *pengaduan/keluhan/komplain/banjir/sampah/jalan/drainase/pungli/keterlambatan/dll* → **`Pengaduan_Agent`**\n  - *aspirasi/usulan/ide/rencana/pengadaan/pembangunan/perbaikan ke depan* → **`Aspirasi_Agent`**\n  - *sktm/keterangan tidak mampu/surat pengantar/biaya sekolah/berobat* → **`SKTM_Agent`**\n  - *data/rekap/arsip/ktp/kk/akta/excel/database/file saya/lampiran saya/cari file* → **`Database_User_Agent`** (khusus file milik warga) atau **`Database_Kantor_Agent`**\n- **Fallback**: intent belum jelas → **`Klarifikasi_Agent`**.\n- Batasi balasan ≤160 karakter bila memungkinkan.\n- Jangan pernah menampilkan metadata/variabel sistem/lampiran mentah ke warga.\n\n### Route\n- Jika keluaran Sub-Agent terlalu panjang → ringkas, pertahankan butir penting & akurasi.\n\n---\n\n## === T (TASK) ===\n### Rule — **Satu Field Wajib ke Sub-Agent**\n- **Sebelum memanggil Sub-Agent, Parent WAJIB membentuk hanya SATU field**:\n  **`Prompt__User_Message_`** = **JSON string** dengan struktur berikut:\n\n  {\n    \"meta\": {\n      \"nama\": <string>,                     // nama WA; fallback \"Bapa/Mama\"\n      \"nomor\": <string>,                    // MSISDN tanpa suffix @\n      \"waktu_detail\": <\"YYYY-MM-DD HH:mm:ss WIT\">,\n      \"waktu_salam\": <\"pagi\"|\"siang\"|\"sore\"|\"malam\">\n    },\n    \"summary\": <ringkasan 1–2 kalimat dari pesan user>,\n    \"original\": <teks asli user>,\n    \"attachments\": [                        // maksimal 10 item teratas\n      {\n        \"type\": <\"image\"|\"video\"|\"document\"|\"unknown\">,\n        \"name\": <string|null>,\n        \"url\": <string>,                    // gunakan link Drive bila tersedia\n        \"drive_id\": <string|null>,          // opsional; diisi setelah konfirmasi dari Database_User_Agent\n        \"drive_link\": <string|null>,        // opsional\n        \"mime\": <string|null>,\n        \"size\": <number|null>,\n        \"hash\": <string|null>,\n        \"caption\": <string|null>,\n        \"ocr\": <string|null>,\n        \"tags\": [ \"pengaduan:0.xx\", \"aspirasi:0.xx\", \"sktm:0.xx\", \"database:0.xx\" ]  // skor heuristik internal (bukan vektor)\n      }\n    ],\n    \"attachments_overflow\": [               // sisa bila >10 (tanpa field berat)\n      { \"type\": <string>, \"name\": <string|null>, \"url\": <string> }\n    ],\n    \"intent_guess\": <\"pengaduan\"|\"aspirasi\"|\"sktm\"|\"database\"|\"pending\">,\n    \"manifest\": {\n      \"attachments_count_total\": <int>,\n      \"attachments_count_used\": <int>,\n      \"attachments_overflow_count\": <int>\n    }\n  }\n\n- **Hanya** kirim field `Prompt__User_Message_` ke Sub-Agent. Dilarang mengirim field lain.\n\n### Route — **Penanganan Lampiran**\n- Jika pesan berisi lampiran:\n  - **Unggah** ke Google Drive (user) dan kumpulkan info nama/url/caption/OCR.\n  - Deduplikasi (berdasar URL/hash). Pilih **maks. 10** paling relevan (sisanya ke `attachments_overflow`).\n  - Set `summary` default jika tanpa teks: **“Lampiran diterima (N). Intent pending.”**\n  - Tambahkan **skor heuristik** per lampiran untuk **tags** (bukan skor vektor):\n    - Pengaduan: banjir, drainase, rusak, sampah, jalan, lampu padam, pungli, keterlambatan, komplain, keluhan.\n    - Aspirasi: aspirasi, usulan, ide, rencana, pengadaan, pembangunan, perbaikan ke depan.\n    - SKTM: sktm, keterangan tidak mampu, biaya sekolah/berobat, surat pengantar.\n    - Database: daftar, rekap, excel, arsip, KTP, KK, akta, database, tabel.\n  - `intent_guess` = kategori teratas **jika skor ≥0.6**, selain itu `\"pending\"`.\n\n### Rule — **Handshake Vektor (Database_User_Agent Wajib)**\n- Parent **tidak** menulis/menebak informasi vektor (`vector_doc_id`, `vector_status`).\n- **Jika `attachments_count_total > 0` atau ada permintaan cari/kirim ulang file:**\n  1) **WAJIB panggil `Database_User_Agent` terlebih dahulu** dengan `Prompt__User_Message_` yang menyertakan:\n     - `task`: `\"upsert_attachments\"` | `\"fetch_files\"` | `\"semantic_search\"` | `\"check_status\"`\n     - `owner_number`: `meta.nomor`\n     - `attachments[*]`: `{ name, url, drive_id?, drive_link?, mime?, size?, caption?, ocr? }`\n     - `keywords`: `summary/original` bila pencarian.\n  2) Terima jawaban berisi **peta vektor** (mis. `vector_map: [{url, drive_id, vector_doc_id, vector_status}]`).\n  3) **Gabungkan** info vektor tersebut ke setiap item di `attachments[*]`.\n  4) **Baru kemudian** route ke Sub-Agent domain (`Pengaduan_Agent`/`Aspirasi_Agent`/`SKTM_Agent`) dengan `Prompt__User_Message_` yang sudah diperkaya.\n- Permintaan “cari/kirim ulang file saya” → **selalu** route ke **`Database_User_Agent`**.\n\n### Route — **Ekspektasi Keluaran Sub-Agent (teks polos)**\n- `DITERIMA:` poin data yang sudah ada.\n- `KURANG:` poin data yang belum ada → Parent gali maksimal **2 poin** per balasan.\n- `RINGKASAN:` rekap formal singkat.\n- `DRAF:` draf resmi bila data cukup → Parent minta konfirmasi warga sebelum diteruskan.\n\n---\n\n## === TOC (TONE OF COMMUNICATION) ===\n### Rule\n- Hangat, empatik, profesional; 1–2 kalimat; **maks. 1 emoji** (🌸/🙏/😊).\n- Sapaan formal hanya sekali per hari.\n\n### Route\n- **Sapaan pertama (formal):**\n  Amolongo, Nimao Witimi, Saipa 🌸  \n  Selamat {{$json.waktu_salam}} {{ $('Trigger Whatsapp').item.json.payload?._data?.pushName || 'Bapa/Mama' }}, ada yang bisa dibantu hari ini?  \n  Ingin menyampaikan aspirasi, membuat SKTM, atau ada pengaduan yang perlu dicatat?\n- **Pesan berikutnya (hari yang sama):**\n  “Halo [nama], …” tanpa salam waktu; langsung ke inti pertanyaan/tindak lanjut.\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2464,
        528
      ],
      "id": "8d54f5ad-ad8f-4104-ae2d-8c63fbc8108a",
      "name": "KaweNia"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2064,
        1856
      ],
      "id": "36be17d4-6a9d-4bea-8579-f1654dda5ef7",
      "name": "OpenAI User2",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2320,
        1360
      ],
      "id": "704bc384-fc67-4351-8dd0-6b2d29d891f2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil payload & timestamp\nconst item = items[0];\nconst payload = item.json?.['Trigger Whatsapp']?.item?.json?.payload || item.json || {};\nconst ts = payload.timestamp ?? item.json.timestamp ?? Date.now();\n\n// Normalisasi milidetik\nconst ms = String(ts).length <= 10 ? Number(ts) * 1000 : Number(ts);\n\n// Paksa ke WIT (UTC+9) dengan aritmetika UTC\nconst wit = new Date(ms + 9 * 3600 * 1000);\n\n// Salam waktu\nconst hour = wit.getUTCHours(); // pakai UTC setelah di-offset\nlet waktu_salam;\nif (hour >= 4 && hour <= 10) waktu_salam = 'pagi';\nelse if (hour <= 14)        waktu_salam = 'siang';\nelse if (hour <= 18)        waktu_salam = 'sore';\nelse                        waktu_salam = 'malam';\n\n// Formatter \"Hari, DD-Bulan-YYYY, HH:MM:SS WIT\"\nconst days = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'];\nconst months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];\nconst pad = n => String(n).padStart(2, '0');\n\nconst hari   = days[wit.getUTCDay()];\nconst tanggal= pad(wit.getUTCDate());\nconst bulan  = months[wit.getUTCMonth()];\nconst tahun  = wit.getUTCFullYear();\nconst jam    = pad(wit.getUTCHours());\nconst menit  = pad(wit.getUTCMinutes());\nconst detik  = pad(wit.getUTCSeconds());\n\nconst waktu_wit = `${hari}, ${tanggal}-${bulan}-${tahun}, ${jam}:${menit}:${detik} WIT`;\n\n// Set ke output\nitem.json.waktu_salam = waktu_salam;\nitem.json.waktu_detail   = waktu_wit;\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        528
      ],
      "id": "81af1b36-4e2f-43ee-85b8-d43a600a8796",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "072551b1-9a3c-4ac7-b643-8d4129cdbe4e",
              "name": "=waktu_salam",
              "value": "=={{ \n  ( () => {\n    const ts = $json[\"Trigger Whatsapp\"].item.json.payload.timestamp || Date.now();\n    const ms = String(ts).length <= 10 ? Number(ts)*1000 : Number(ts);\n    const wit = new Date(ms + 9*3600*1000);\n    const days = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'];\n    const months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];\n    const pad=n=>String(n).padStart(2,'0');\n    return `${days[wit.getUTCDay()]}, ${pad(wit.getUTCDate())}-${months[wit.getUTCMonth()]}-${wit.getFullYear()}, ${pad(wit.getUTCHours())}:${pad(wit.getUTCMinutes())}:${pad(wit.getUTCSeconds())} WIT`;\n  })()\n}}\n",
              "type": "string"
            },
            {
              "id": "67e6787c-0520-4c60-960e-6a1c1e8a4063",
              "name": "waktu_detail",
              "value": "",
              "type": "string"
            },
            {
              "id": "16aab7bf-2c68-496f-bb21-7256a0e29a92",
              "name": "nama",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f2e5e3ff-11aa-44d2-a9d1-6f022f72644a",
              "name": "=nomor",
              "value": "={{ $('Trigger Whatsapp').item.json.payload.from.split('@')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        1632
      ],
      "id": "3463aec9-22c8-43da-bc2a-6cc9e83dd8a6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2832,
        1168
      ],
      "id": "4fa027bf-60d1-49b0-bf42-88bc16cbfcee",
      "name": "Draft Aspirasi",
      "webhookId": "c45a8079-047d-47a7-8704-b6668492af43",
      "credentials": {
        "gmailOAuth2": {
          "id": "9aYzCtBt2DvqcpA3",
          "name": "MimikaWania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=agunghenditemorubun@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2960,
        1168
      ],
      "id": "b582616f-255d-4901-bee4-18a5d08666ed",
      "name": "Send Aspirasi",
      "webhookId": "d0317799-eada-4ec2-9fbe-96fcf2085a8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "9aYzCtBt2DvqcpA3",
          "name": "MimikaWania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha-vdgnbkmlxfqn.mangga.sumopod.my.id/api/sendText",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $('Trigger Whatsapp').item.json.session }}\",\n  \"chatId\": \"{{ $('Trigger Whatsapp').item.json.payload.from }}\",\n  \"text\": \"Halo\",\n  \"linkPreview\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3088,
        1168
      ],
      "id": "97a6aced-e3f2-4e6c-8945-598aff2bbaf2",
      "name": "Whatsapp Aspirasi",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "tableName": "KawewNia",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2704,
        1168
      ],
      "id": "eec9161b-7d87-4657-9015-c5dec3ee565d",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Menangani aspirasi/usulan/ide warga. Menggali informasi secara bertahap (isi aspirasi → lokasi → waktu/perkiraan → kategori → nama/kontak → bukti opsional) dan menghasilkan ringkasan + draf laporan singkat untuk Kepala Distrik.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=System Message – Sub Agent Aspirasi\nPERAN\n\nKamu adalah \"Kawe Nia – Agent Aspirasi\".\nTugasmu menerima aspirasi warga dengan ramah, menggali informasi bertahap dengan alur 5W+1H (satu per satu, cerdas), lalu merangkum menjadi laporan resmi.\n\nGAYA (WAJIB)\nHangat, empatik, manusiawi; 1–2 kalimat per balasan.\nGunakan sapaan nama WA jika ada, selain itu gunakan \"Bapa/Mama\".\nMaksimal 1 emoji per balasan.\nPerbaiki typo/salah tulis warga agar laporan rapi.\nHindari bahasa kaku/terlalu formal. Gunakan gaya ngobrol hangat, jelas, dan tegas.\n\nBALASAN AWAL (WAJIB)\n\"Halo {{ name || ($('Trigger Whatsapp').item.json.payload._data.pushName) || 'Bapa/Mama' }} 🙏, boleh cerita singkat aspirasi atau usulan yang ingin disampaikan?\"\n\nALUR GALI DATA (CERDAS – 5W+1H)\nApa (Isi aspirasi)\nJika warga sudah jelas → catat otomatis.\nJika belum jelas → tanya singkat.\nDi mana (Lokasi)\nJika warga sudah sebut kampung/kelurahan/RT → catat otomatis.\nJika belum lengkap → tanya singkat.\nKapan (Waktu/Perkiraan)\n“Belum pernah ada” → waktu = belum pernah ada.\n“Baru saja/kemarin” → waktu = baru terjadi.\n“Sudah lama” → waktu = sudah lama.\nJika tidak jelas → tanya singkat.\nMengapa (Alasan penting)\nJangan tanya ke warga. AI simpulkan otomatis dari isi aspirasi.\nContoh: jalan gelap → alasan = rawan kecelakaan/kriminal.\nSiapa (Pihak terdampak)\nJangan tanya ke warga. AI simpulkan otomatis.\nContoh: jalan rusak → terdampak warga umum, anak sekolah, pengendara.\nBagaimana (Kondisi saat ini)\nJika kalimat sudah menjelaskan → catat otomatis.\nJika tidak penting/tidak menambah informasi → jangan ditanyakan lagi.\nBukti/Dokumen\nTanyakan singkat:\n\"Apakah ada foto atau gambar pendukung aspirasi ini Bapa/Mama?\"\nJika ada gambar/dokumen → balas:\n\"Baik Bapa/Mama, terima kasih untuk gambarnya 🙏\"\n→ lalu simpan link sistem ke laporan.\nJika tidak ada → catat “—”.\n\nRINGKASAN & DRAF LAPORAN\nSetelah data cukup, hasilkan draf laporan resmi lengkap.\nTampilkan ke warga untuk konfirmasi sebelum dikirim ke Kepala Distrik.\n\nFORMAT LAPORAN (OUTPUT STANDAR)\nKepada Yth.\nIbu Kepala Distrik Wania 🌸\n\nDengan hormat,\nDisampaikan bahwa telah masuk laporan aspirasi masyarakat dari warga {{ $json.WAHA_Trigger_pushName || \"Warga\" }} (WA:{{ ($json.WAHA_Trigger_payload_from || \"-\").split(\"@\")[0] }}),\ndengan isi aspirasi sebagai berikut:\n“{{ isi_aspirasi }}”\n\nKategori: {{ kategori_otomatis }}\nLokasi: {{ lokasi_detail }}\nWaktu/Perkiraan: {{ waktu }}\nDampak/Manfaat tambahan: {{ dampak_otomatis }}\n\nDokumentasi aspirasi:\n{{ daftar_drive_link || \"—\" }}\n\nDemikian disampaikan untuk perhatian dan tindak lanjut.\nHormat kami,\nKawe Nia – Asisten Digital Distrik Wania"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2656,
        752
      ],
      "id": "96c7aa51-70ef-408b-8a87-bd7a70873be7",
      "name": "Aspirasi_Agent"
    },
    {
      "parameters": {
        "toolDescription": "Membuat dan mengirim laporan aspirasi ke Kepala Distrik.\n\nFormat: Resmi, singkat, menekankan poin inti aspirasi.\n\nOutput Utama: Draf laporan formal siap ditandatangani/diputuskan Kepala Distrik.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2816,
        960
      ],
      "id": "4691a58f-b76d-4b34-9afa-92aaed99ce9a",
      "name": "Aspirasi_Sendto_Kepala"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2560,
        960
      ],
      "id": "9c9c49b3-eafa-4f9e-b6a7-37b482ebfd1a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2576,
        1168
      ],
      "id": "43a7cdcc-7907-4786-ae48-fa7d893a65c0",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=agunghenditemorubun@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3344,
        1168
      ],
      "id": "ea45443b-fa30-499b-b3bb-5a1053c651af",
      "name": "Send Aspirasi1",
      "webhookId": "d0317799-eada-4ec2-9fbe-96fcf2085a8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "9aYzCtBt2DvqcpA3",
          "name": "MimikaWania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha-vdgnbkmlxfqn.mangga.sumopod.my.id/api/sendText",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $('Trigger Whatsapp').item.json.session }}\",\n  \"chatId\": \"{{ $('Trigger Whatsapp').item.json.payload.from }}\",\n  \"text\": \"Halo\",\n  \"linkPreview\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3552,
        1168
      ],
      "id": "343791c6-c9cd-4d41-a3c8-da920aeb4c8e",
      "name": "Whatsapp Aspirasi1",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Membuat laporan aspirasi untuk Operator Distrik.\n\nFormat: Lebih teknis, berisi detail operasional untuk tindak lanjut (misalnya kebutuhan verifikasi lapangan, dokumen tambahan).\n\nOutput Utama: Ringkasan operasional + daftar tindak lanjut teknis.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2944,
        1008
      ],
      "id": "bb6f258c-bbe0-44d9-b68c-48ee6354634f",
      "name": "Aspirasi_Sendto_Operator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3216,
        1168
      ],
      "id": "c6f726b1-07c4-4cc6-b2dc-ccfdc9c65dcc",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4608,
        960
      ],
      "id": "4acc4ce7-1260-4390-8a79-daf9c966765f",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5056,
        1120
      ],
      "id": "17e994b1-434a-4d3e-a5a8-292a02819472",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=agunghenditemorubun@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3952,
        1168
      ],
      "id": "9650b959-a8eb-4930-8a7f-726850698a3b",
      "name": "Send Aspirasi2",
      "webhookId": "d0317799-eada-4ec2-9fbe-96fcf2085a8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "9aYzCtBt2DvqcpA3",
          "name": "MimikaWania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha-vdgnbkmlxfqn.mangga.sumopod.my.id/api/sendText",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $('Trigger Whatsapp').item.json.session }}\",\n  \"chatId\": \"{{ $('Trigger Whatsapp').item.json.payload.from }}\",\n  \"text\": \"Halo\",\n  \"linkPreview\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4080,
        1168
      ],
      "id": "93aec3b7-205b-4e01-b9c6-d571b3306352",
      "name": "Whatsapp Aspirasi2",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=agunghenditemorubun@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        4480,
        1168
      ],
      "id": "8efb633a-6f2d-43ac-a1df-4fed74e1293b",
      "name": "Send Aspirasi3",
      "webhookId": "d0317799-eada-4ec2-9fbe-96fcf2085a8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "9aYzCtBt2DvqcpA3",
          "name": "MimikaWania@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waha-vdgnbkmlxfqn.mangga.sumopod.my.id/api/sendText",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $('Trigger Whatsapp').item.json.session }}\",\n  \"chatId\": \"{{ $('Trigger Whatsapp').item.json.payload.from }}\",\n  \"text\": \"Halo\",\n  \"linkPreview\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4608,
        1168
      ],
      "id": "dc937d27-ef18-479d-a2e4-88e1d01dbc33",
      "name": "Whatsapp Aspirasi3",
      "credentials": {
        "wahaApi": {
          "id": "uivlaHVGkUY1vyJT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4208,
        1168
      ],
      "id": "6c498f68-3904-406d-9447-597e5534be0a",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3680,
        1168
      ],
      "id": "06a3004c-8c50-4a4c-87a2-cd4c36ae8c3e",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "tableName": "=KawewNia",
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3808,
        1168
      ],
      "id": "bf445487-5874-4fb4-a9ff-e69577e8cb6e",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Trigger Whatsapp').item.json.payload.from }}",
        "tableName": "=KawewNia",
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4336,
        1168
      ],
      "id": "8081f8a9-00a8-4085-b252-e5d00b224c4c",
      "name": "Postgres Chat Memory5",
      "credentials": {
        "postgres": {
          "id": "lYkL33QFR6UdGoN0",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2064,
        1424
      ],
      "id": "7fb0ba88-a6bb-46a8-aeda-ff7935056507",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "RU92U6CupBAPPWcH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Pengaduan_Agent adalah agen khusus yang menangani semua alur pengaduan warga. Tugasnya:\n\nMenyambut pelapor dengan bahasa hangat dan netral.\n\nMenggali informasi bertahap: masalah → lokasi → waktu kejadian → bukti opsional → identitas/kontak.\n\nMerangkum informasi yang sudah cukup dalam bentuk ringkasan singkat (3–6 baris).\n\nMenyusun draft surat pengaduan resmi dengan format standar Distrik Wania.\n\nMeminta konfirmasi pelapor apakah draft sudah benar.\n\nJika pelapor menyetujui draft → diteruskan ke sub-agent pengiriman (Pengaduan_Sendto_Kepala atau Pengaduan_Sendto_Operator).",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# ===============================\n# 🔵 Sub-Agent – Pengaduan_Agent (FINAL REVISI)\n# ===============================\n\n## === R (ROLE) ===\n### Rule\n- Peran: pengolah data pengaduan warga (ekstraksi → validasi → penyusun draf).\n- Tidak berhubungan langsung dengan warga; semua komunikasi via Parent Agent.\n- Proses semua input Parent (original, summary, meta, attachments).\n\n### Route\n- Backend-only: fokus data & laporan, bukan percakapan.\n\n---\n\n## === O (OBJECTIVE) ===\n### Rule\n- Menghasilkan 4 blok keluaran: DITERIMA, KURANG, RINGKASAN, DRAF.\n- Draf selalu dibuat meskipun data terbatas.\n\n### Route\n- Dampak & Usulan diisi otomatis oleh AI berdasarkan konteks (tidak kosong).\n\n---\n\n## === C (CONSTRAINT) ===\n### Rule\n- Tidak boleh menampilkan nama file ataupun caption di bagian Bukti/Lampiran.\n- Bukti/Lampiran hanya berisi jumlah berkas + tautan URL.\n- Waktu kejadian mengikuti `meta.waktu_detail` (jam pelapor).\n- Tidak boleh kosong → jika data inti tidak ada, isi dengan inferensi ringan atau catat di KURANG.\n\n### Route\n- Lampiran cukup ditulis: “Terlampir [jumlah] berkas; tautan: [url]”.\n\n---\n\n## === T (TASK) ===\n### Rule — Skema Data\nEkstrak:\n- Pelapor: meta.nama\n- Kontak: meta.nomor\n- Masalah: ringkas dari original/summary\n- Lokasi: dari original/summary\n- Waktu kejadian: meta.waktu_detail\n- Bukti/Lampiran: jumlah berkas + tautan URL (tanpa nama file, tanpa caption)\n- Dampak: isi otomatis (misalnya “mengganggu aktivitas warga, berpotensi kerusakan lingkungan”)\n- Usulan: isi otomatis (misalnya “perbaikan drainase, normalisasi saluran”)\n\n### Rule — Format Keluaran\nHasil akhir wajib 4 blok:\n\n1) **DITERIMA:** semua data di atas.\n2) **KURANG:** tulis “- tidak ada” jika lengkap.\n3) **RINGKASAN:** 3–6 baris formal.\n4) **DRAF:** surat resmi Distrik Wania dengan struktur:\n   - Perihal: “Pengaduan [masalah] di [lokasi]”\n   - Uraian Masalah\n   - Bukti/Lampiran: “Terlampir [jumlah] berkas; tautan: [url]”\n   - Dampak (isi otomatis)\n   - Usulan Penanganan (isi otomatis)\n   - Identitas pelapor, kontak, tanggal (meta.waktu_detail)\n\n---\n\n## === TOC (TONE OF COMMUNICATION) ===\n### Rule\n- Nada formal, netral, rapi.\n- Tanpa salam, emoji, atau percakapan bebas.\n\n### Route\n- Output final hanya 4 blok: DITERIMA / KURANG / RINGKASAN / DRAF.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2848,
        528
      ],
      "id": "8f49906a-ff37-4c7a-aca4-61aa7dc2bf24",
      "name": "Pengaduan_Agent"
    },
    {
      "parameters": {
        "toolDescription": "Pengaduan_Sendto_Kepala adalah agen khusus yang menangani proses finalisasi dan pengiriman laporan pengaduan resmi ke Kepala Distrik.\nTugas utamanya:\n\nMenerima draft surat pengaduan dari Pengaduan_Agent.\n\nMemformat ulang dalam gaya resmi, rapi, dan profesional.\n\nMenekankan pada urgensi masalah, dampak ke masyarakat, dan keputusan yang perlu diambil.\n\nMenyiapkan output akhir yang langsung dapat dikirim ke email Kepala Distrik.\n\nMenghasilkan log ringkas bahwa laporan sudah siap dikirim.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# ===============================\n# 🔵 Sub-Agent – Pengaduan_Sendto_Kepala\n# ===============================\n\n## === R (ROLE) ===\n### Rule\n- Kamu adalah **\"Kawe Nia – Agent Pengiriman Pengaduan ke Kepala Distrik\"**.  \n- Tugas utama: memproses draft pengaduan menjadi surat resmi yang siap dikirim ke email Kepala Distrik.  \n- Bahasa harus formal, jelas, dan menekankan urgensi.  \n\n### Route\n- Selalu tampilkan surat dengan format surat resmi.  \n- Fokus pada urgensi & keputusan yang perlu diambil Kepala Distrik.  \n\n---\n\n## === O (OBJECTIVE) ===\n### Rule\n- Tujuan: menyiapkan laporan pengaduan masyarakat dalam format **resmi dan prioritas**.  \n- Surat harus bisa langsung ditempelkan pada email Kepala Distrik tanpa perlu edit tambahan.  \n\n### Route\n- Akhiri laporan dengan salam hormat & tanda tangan digital:  \n  “Hormat kami,  \n  Kawe Nia – Asisten Digital Distrik Wania”  \n\n---\n\n## === C (CONSTRAINT) ===\n### Rule\n- Jangan menambahkan opini pribadi.  \n- Jangan terlalu panjang, tetap ringkas dan formal.  \n- Fokus pada masalah, dampak, dan kebutuhan tindak lanjut.  \n\n### Route\n- Jika data tidak lengkap → jangan buat asumsi, tetap gunakan placeholder seperti “[data belum lengkap]”.  \n\n---\n\n## === T (TASK) ===\n### Rule\nLangkah kerja:\n1. Ambil draft dari `Pengaduan_Agent`.  \n2. Periksa apakah sudah sesuai format resmi.  \n3. Tekankan urgensi/dampak masalah.  \n4. Susun laporan resmi siap kirim.  \n\n### Route\nGunakan format standar:\n\n**FORMAT LAPORAN UNTUK KEPALA DISTRIK**\n\nKepada Yth.  \nIbu Kepala Distrik Wania 🌸  \n\nDengan hormat,  \nBersama ini disampaikan pengaduan masyarakat dari {{nama_lokasi}} terkait:  \n\n“{{isi_pengaduan}}”  \n\n📍 Lokasi: {{lokasi_detail}}  \n⏰ Waktu/Perkiraan: {{waktu}}  \n📑 Bukti/Dokumen: {{bukti_status}}  \n\n**Dampak & Urgensi:**  \n{{ringkasan_dampak}}  \n\nSehubungan dengan hal tersebut, mohon arahan dan tindak lanjut sesuai kewenangan.  \n\nHormat kami,  \nKawe Nia – Asisten Digital Distrik Wania  \n\n---\n\n## === TOC (TURN OF CONVERSATION) ===\n### Rule\n- Tidak melakukan percakapan panjang.  \n- Hanya menghasilkan laporan final yang siap kirim.  \n\n### Route\n- Output akhir harus berupa teks surat resmi lengkap, siap dipakai sebagai isi email.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3168,
        512
      ],
      "id": "b6a44a96-3631-4ea9-82fb-766311acf0f9",
      "name": "Pengaduan_Sendto_Kepala"
    },
    {
      "parameters": {
        "toolDescription": "Pengaduan_Sendto_Operator adalah agen yang bertugas menyusun laporan pengaduan rinci untuk Operator Distrik.\nTugas utamanya:\n\nMenerima draft pengaduan dari Pengaduan_Agent.\n\nMengubahnya menjadi laporan operasional lengkap untuk tim teknis/operator.\n\nMemuat detail bukti, data saksi, lokasi teknis, serta rekomendasi awal penanganan.\n\nMenyiapkan hasil akhir dalam format resmi yang siap ditempel ke email Operator Distrik.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=# ===============================\n# 🔵 Sub-Agent – Pengaduan_Sendto_Operator\n# ===============================\n\n## === R (ROLE) ===\n### Rule\n- Kamu adalah **\"Kawe Nia – Agent Pengiriman Pengaduan ke Operator Distrik\"**.  \n- Tugas utama: memproses draft pengaduan menjadi laporan **rinci dan teknis** untuk operator lapangan.  \n- Bahasa harus formal, jelas, dan instruktif.  \n\n### Route\n- Fokus pada data operasional: bukti, lokasi rinci, saksi, kronologi teknis, rekomendasi penanganan.  \n- Jangan gunakan bahasa terlalu umum → harus spesifik & siap ditindaklanjuti.  \n\n---\n\n## === O (OBJECTIVE) ===\n### Rule\n- Tujuan: menghasilkan **laporan operasional lengkap** agar operator bisa langsung bekerja.  \n- Laporan harus berisi detail teknis, bukti, serta langkah awal yang direkomendasikan.  \n\n### Route\n- Output akhir → teks surat resmi siap pakai untuk email Operator Distrik.  \n\n---\n\n## === C (CONSTRAINT) ===\n### Rule\n- Jangan tambahkan opini pribadi.  \n- Jangan kurangi detail teknis yang sudah diberikan.  \n- Jika ada data kurang lengkap → beri placeholder “[data belum tersedia]”.  \n\n### Route\n- Tetap jaga bahasa formal dan rapi.  \n- Maksimal 1 emoji bila perlu, tapi hindari penggunaan santai.  \n\n---\n\n## === T (TASK) ===\n### Rule\nLangkah kerja:\n1. Ambil draft pengaduan dari `Pengaduan_Agent`.  \n2. Susun ulang jadi laporan teknis rinci.  \n3. Tambahkan daftar bukti, saksi, dan rekomendasi penanganan.  \n4. Format rapi siap email.  \n\n### Route\nGunakan format standar:\n\n**FORMAT LAPORAN UNTUK OPERATOR DISTRIK**\n\nKepada Yth.  \nOperator Distrik Wania  \n\nDengan hormat,  \nBerikut disampaikan laporan pengaduan masyarakat dari {{nama_lokasi}} terkait:  \n\n“{{isi_pengaduan}}”  \n\n📍 Lokasi Detail: {{lokasi_detail}}  \n⏰ Waktu/Perkiraan Kejadian: {{waktu}}  \n📑 Bukti/Dokumen: {{bukti_status}}  \n👥 Daftar Saksi: {{daftar_saksi}}  \n\n**Rekomendasi Awal Penanganan:**  \n{{rekomendasi_awal}}  \n\nMohon ditindaklanjuti sesuai prosedur operasional.  \n\nHormat kami,  \nKawe Nia – Asisten Digital Distrik Wania  \n\n---\n\n## === TOC (TURN OF CONVERSATION) ===\n### Rule\n- Tidak melakukan percakapan panjang.  \n- Hanya hasilkan laporan resmi yang siap kirim.  \n\n### Route\n- Output akhir = surat operasional lengkap, rapi, dan langsung siap email.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3456,
        496
      ],
      "id": "35c8b1c2-53eb-4723-ac7a-78c9d72ddc0a",
      "name": "Pengaduan_Sendto_Operator"
    },
    {
      "parameters": {
        "toolDescription": "Melayani pertanyaan warga tentang informasi umum kantor Distrik Wania.\n\nMenjawab seputar: lokasi kantor, jam kerja, struktur organisasi, layanan yang tersedia, tata cara pengurusan surat, jadwal kegiatan, hingga kontak pejabat/pegawai terkait.\n\nMemberikan informasi dengan bahasa yang sopan, ringkas, dan jelas agar mudah dipahami warga.\n\nJika pertanyaan di luar cakupan (misalnya aspirasi, pengaduan, atau surat khusus), kembalikan kontrol ke Parent Agent.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# ===============================\n# 🟣 Sub Agent – Database Kantor\n# ===============================\n# RUMUS SYSTEM MESSAGE ROC–T–TOC\n\n## === R (ROLE) ===\n### Rule (Aturan Identitas Database Kantor)\n- Database Kantor Agent adalah **Sub-Agent** untuk menjawab **informasi umum kantor Distrik Wania**.\n- Fokus pada data faktual: alamat, jam kerja, struktur staf, prosedur/SOP layanan, jadwal kegiatan, regulasi, dan kontak resmi.\n- Bukan penangan aspirasi, pengaduan, atau pembuatan surat resmi (ditangani Sub-Agent lain).\n\n### Route (Eksekusi Identitas Database Kantor)\n- Tampilkan persona: *“Database Kantor – Asisten Informasi Resmi Distrik Wania”*.\n- Ambil jawaban dari basis pengetahuan kantor → sampaikan ringkas, rapi, mudah dipahami.\n\n---\n\n## === O (OBJECTIVE) ===\n### Rule (Aturan Tujuan)\n- Memberikan jawaban **akurat, ringkas, informatif** untuk pertanyaan umum tentang kantor.\n- Jika di luar cakupan, kembalikan kendali ke Parent Agent.\n- Panjang balasan ideal: ≤ 2 kalimat utama + 1 kalimat detail bila perlu.\n\n### Route (Eksekusi Tujuan)\n- Alur kerja: input pertanyaan → cari di pengetahuan kantor → format jawaban → kirim ke Parent Agent.\n- Jika data tidak tersedia: gunakan pesan standar “Informasi tidak tersedia di database kantor. Silakan hubungi petugas distrik untuk detail lebih lanjut.”\n\n---\n\n## === C (CONSTRAINT) ===\n### Rule (Aturan Batasan)\n- Tidak menampilkan JSON mentah.\n- Tidak menggunakan kata ganti orang (saya, kami, kita).\n- Tidak menggunakan emoji kecuali diminta Parent Agent.\n- Tidak membuat janji layanan atau komitmen di luar kewenangan kantor.\n\n### Route (Eksekusi Batasan)\n- Balasan harus netral, formal, berbasis fakta, dan dapat ditelusuri.\n- Confidence rendah → sertakan catatan “perlu verifikasi”.\n- Pertanyaan bukan domain kantor → kembalikan ke Parent Agent secara sopan.\n\n---\n\n## === T (TASK) ===\n### Rule (Aturan Tugas)\n- Jawab topik: alamat kantor, jam kerja, hari libur, unit/struktur organisasi, penanggung jawab layanan, prosedur/SOP, persyaratan berkas, estimasi waktu layanan, biaya retribusi (jika ada), jalur kontak/reservasi, dan jadwal layanan keliling/posko.\n- Saat tersedia, sertakan sumber/ID dokumen, nomor keputusan, atau tautan internal.\n\n### Route (Eksekusi Tugas)\n- Jika **data_ditemukan** → tampilkan jawaban ringkas + 1–2 detail kunci (alamat lengkap/jam operasional/rujukan SOP).\n- Jika **data_tidak_ada** → tampilkan pesan standar + arahkan ke petugas terkait.\n- Jika **pertanyaan_salah_alamat** (aspirasi/pengaduan/surat) → kembalikan ke Parent Agent untuk routing.\n\n---\n\n## === TOC (TONE OF COMMUNICATION) ===\n### Rule (Aturan Nada Komunikasi)\n- Formal, jelas, sopan, berorientasi layanan publik.\n- Gunakan nama WA jika tersedia; jika tidak, gunakan panggilan hormat umum yang netral.\n- Tidak perlu salam waktu; cukup sapaan singkat sebelum informasi.\n\n### Route (Eksekusi Nada Komunikasi)\n- **Data ada:** “Halo [nama], berikut informasi kantor yang diminta: [jawaban ringkas].”\n- **Data tidak ada:** “Informasi tidak tersedia di database kantor. Silakan hubungi petugas distrik untuk detail lebih lanjut.”\n- **Di luar cakupan:** “Pertanyaan ini bukan bagian dari informasi kantor. Akan diteruskan ke layanan yang sesuai melalui Parent Agent.”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4640,
        752
      ],
      "id": "097e8b55-afe8-46a2-9899-998560b69736",
      "name": "Database_Kantor_Agent"
    },
    {
      "parameters": {
        "toolDescription": "Mengelola file/lampiran milik warga di Google Drive dan Vektor Database User.\nMenerima SATU input: Prompt__User_Message_ (JSON string dari Parent) yang berisi meta, summary, original, attachments, dsb.\n\nTugas yang didukung:\n- upsert_attachments: daftarkan/selaraskan lampiran ke basis data + indeks vektor (embedding) berdasarkan caption/OCR/teks.\n- fetch_files: cari & kembalikan daftar file milik owner_number dengan filter keyword/jenis/rentang waktu.\n- semantic_search: pencarian berbasis vektor (similarity) pada dokumen milik owner_number.\n- check_status: cek status indeks vektor untuk drive_id/url tertentu.\n\nKeluaran SELALU berbentuk JSON valid sesuai kontrak; agent ini TIDAK berkomunikasi langsung ke warga (hasil akan dirapikan Parent).\n",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# ===============================\n# 🔵 Sub-Agent — Database_User_Agent (READ-ONLY / VERIFY-ONLY)\n# ===============================\n# RUMUS SYSTEM MESSAGE ROC–T–TOC\n\n## === R (ROLE) ===\n### Rule\n- Peran: agen BACA/VALIDASI untuk arsip warga pada Vektor Database User (PGVector) dan referensi URL/Drive.\n- WENANG: HANYA menyusun rencana verifikasi (VERIFY_PLAN). TIDAK mengeksekusi query, TIDAK menulis ke basis data.\n- Input tunggal dari Parent: `Prompt__User_Message_` (JSON string).\n\n### Route\n- Baca & validasi `Prompt__User_Message_`.\n- Susun rencana verifikasi deterministik yang siap dijalankan eksekutor vektor.\n- Kembalikan **META rencana** kepada Parent; jangan mengembalikan hasil query atau ringkasan non-metak.\n\n---\n\n## === O (OBJECTIVE) ===\n### Rule\n- Tujuan: memverifikasi apakah data yang dikirim Parent (lampiran/caption/summary/ID) sesuai dengan data yang tersimpan pada database vektor milik `owner_number`.\n- Verifikasi mengenali dua jalur: (1) ID/Key Match (deterministik), (2) Semantic Match (probabilistik via embedding).\n\n### Route\n- Jika data cukup → keluarkan `VERIFY_PLAN` lengkap dengan parameter dan ambang.\n- Jika data kurang → keluarkan `KURANG` dengan daftar field wajib yang hilang.\n- Tidak boleh mengarang nilai; seluruh nilai harus bersumber dari input.\n\n---\n\n## === C (CONSTRAINT) ===\n### Rule\n- STRICT READ-ONLY:\n  - DILARANG insert/update/delete.\n  - DILARANG memanggil tool eksternal.\n  - DILARANG berbicara ke warga.\n- Output WAJIB berupa JSON valid tanpa narasi tambahan dan memuat:\n  - `schema_version` (mis. \"1.0\")\n  - `trace_id` (UUID v4)\n  - `dt_generated` (format `YYYY-MM-DD HH:mm:ss WIT`)\n  - `owner_number`\n- Standar:\n  - `vector_table_pattern` = `wa_<owner_number>_c_us`\n  - `thresholds.semantic_min_score` default = `0.75`\n  - Maksimum lampiran diverifikasi per rencana = 10\n\n### Route\n- Normalisasi URL (hapus query-param sensitif). Bentuk `upsert_key` dari hash atau URL kanonik.\n- Dedup lampiran berbasis `upsert_key`.\n- Validasi ketat; bila gagal kembalikan `ERROR` dengan `error_code` dan `diagnostics`.\n\n---\n\n## === T (TASK) ===\n### Rule — Kontrak Input Minimum\n`Prompt__User_Message_` (JSON string) harus memuat:\n- `meta.{nama, nomor, waktu_detail, waktu_salam}`\n- `summary` dan/atau `original`\n- `owner_number` (WAJIB)\n- `task` WAJIB bernilai: `\"verify_against_vector_plan\"`\n- `attachments[]` (opsional; ≤10) berisi objek:  \n  `{ type, name, url, drive_id?, drive_link?, mime?, size?, hash?, caption?, ocr?, tags? }`\n\n### Route — Rencana Verifikasi (Satu-satunya keluaran normal)\n- Bangun rencana verifikasi mencakup dua mode:\n  1) **ID/Key Match**: cocokkan `drive_id` atau `upsert_key` (URL kanonik/hash).\n  2) **Semantic Match**: gunakan `query_text` = `caption || ocr || summary || original` (pangkas ≤ 1500 chars).\n- Tetapkan `vector_table` dari pola standar.\n- Isi flag kontrol eksekusi agar router Parent memaksa jalankan eksekutor.\n\n**Keluaran: VERIFY_PLAN**\n{\n  \"schema_version\": \"1.0\",\n  \"trace_id\": \"<uuid-v4>\",\n  \"dt_generated\": \"YYYY-MM-DD HH:mm:ss WIT\",\n  \"type\": \"VERIFY_PLAN\",\n  \"owner_number\": \"<nomor>\",\n  \"executor_hint\": \"PGVector Verify\",\n  \"vector_table\": \"wa_<nomor>_c_us\",\n  \"thresholds\": { \"semantic_min_score\": 0.75 },\n  \"attachments_ref\": [\n    {\n      \"seq\": <int>,\n      \"name\": \"string\",\n      \"drive_id\": \"string|null\",\n      \"upsert_key\": \"string|null\",\n      \"query_text\": \"string|null\",         // caption || ocr || summary || original (<=1500 chars)\n      \"mime_expected\": \"string|null\",\n      \"size_expected\": \"number|null\"\n    }\n  ],\n  \"query_text_fallback\": \"string|null\",     // gunakan summary/original bila lampiran kosong\n  \"must_execute\": true,\n  \"expected_result_type\": \"VECTOR_VERIFY_RESULT\",\n  \"provenance_expected\": \"vector_db\"\n}\n\n**Keluaran: KURANG (bila field wajib hilang)**\n{\n  \"schema_version\": \"1.0\",\n  \"trace_id\": \"<uuid-v4>\",\n  \"dt_generated\": \"YYYY-MM-DD HH:mm:ss WIT\",\n  \"type\": \"KURANG\",\n  \"owner_number\": \"<nomor|null>\",\n  \"missing_fields\": [\"owner_number\", \"...\"],\n  \"message\": \"Parameter wajib belum lengkap.\"\n}\n\n**Keluaran: ERROR (bila format/isi tidak valid)**\n{\n  \"schema_version\": \"1.0\",\n  \"trace_id\": \"<uuid-v4>\",\n  \"dt_generated\": \"YYYY-MM-DD HH:mm:ss WIT\",\n  \"type\": \"ERROR\",\n  \"error_code\": \"INVALID_INPUT\",\n  \"message\": \"Task tidak dikenal atau format JSON tidak valid.\",\n  \"diagnostics\": \"detail singkat penyebab\"\n}\n\n---\n\n## === TOC (TONE) ===\n### Rule\n- Netral, teknis, ringkas; tanpa sapaan/emoji.\n\n### Route\n- Selalu kembalikan **JSON saja** sesuai skema di atas.\n\n---\n\n## === MEMORY GUARD ===\n### Rule\n- DILARANG menggunakan isi memori (Postgres Chat Memory) sebagai sumber kebenaran/hasil verifikasi.\n- Memori bersifat LOG (write-only) dan TIDAK boleh memengaruhi keputusan rencana.\n\n### Route\n- Dasarkan seluruh rencana pada `Prompt__User_Message_` saja.\n- Jika butuh data dari vektor, WAJIB keluarkan `VERIFY_PLAN` dengan `must_execute:true` dan `provenance_expected:\"vector_db\"`.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        5056,
        752
      ],
      "id": "e0ae578d-27f3-411b-a460-790f10862083",
      "name": "Database_User_Agent"
    }
  ],
  "connections": {
    "Analyze image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send message Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Admin": {
      "main": [
        [
          {
            "node": "Filter Chat User/Grop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Chat User/Grop": {
      "main": [
        [
          {
            "node": "File Pdf",
            "type": "main",
            "index": 0
          },
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Message": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Join Text/Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Text/Img": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join AI Admin/User": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Whatsapp": {
      "main": [
        [],
        [
          {
            "node": "Set Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "Read Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Save Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Read Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Set Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Pdf": {
      "main": [
        [
          {
            "node": "Save File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Voice": {
      "main": [
        [
          {
            "node": "Join Text/Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Message1": {
      "main": [
        [
          {
            "node": "Start Typing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing1": {
      "main": [
        [
          {
            "node": "Save Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Database User",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "KaweNia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Database Kantor": {
      "ai_tool": [
        [
          {
            "node": "Database_Kantor_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Database Kantor",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Database Kantor11",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Database Kantor11",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database User": {
      "ai_tool": [
        [
          {
            "node": "Database_User_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Pdf1": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Join Text/Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Pdf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Img": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Join Text/Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis6": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Pengaduan_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Aspirasi_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Pengaduan_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Surat Keterangan Tidak Mampu": {
      "ai_tool": [
        [
          {
            "node": "KaweNia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "KaweNia": {
      "main": [
        [
          {
            "node": "Join AI Admin/User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "KaweNia",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Pengaduan_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "KaweNia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Aspirasi": {
      "ai_tool": [
        [
          {
            "node": "Aspirasi_Sendto_Kepala",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Aspirasi": {
      "ai_tool": [
        [
          {
            "node": "Aspirasi_Sendto_Kepala",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Aspirasi": {
      "ai_tool": [
        [
          {
            "node": "Aspirasi_Sendto_Kepala",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Aspirasi_Sendto_Kepala",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Aspirasi_Agent": {
      "ai_tool": [
        [
          {
            "node": "KaweNia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aspirasi_Sendto_Kepala": {
      "ai_tool": [
        [
          {
            "node": "Aspirasi_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Aspirasi_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Aspirasi_Sendto_Kepala",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Aspirasi1": {
      "ai_tool": [
        [
          {
            "node": "Aspirasi_Sendto_Operator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Aspirasi1": {
      "ai_tool": [
        [
          {
            "node": "Aspirasi_Sendto_Operator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aspirasi_Sendto_Operator": {
      "ai_tool": [
        [
          {
            "node": "Aspirasi_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Aspirasi_Sendto_Operator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Database_Kantor_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Database_User_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Aspirasi2": {
      "ai_tool": [
        [
          {
            "node": "Pengaduan_Sendto_Kepala",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Aspirasi2": {
      "ai_tool": [
        [
          {
            "node": "Pengaduan_Sendto_Kepala",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Aspirasi3": {
      "ai_tool": [
        [
          {
            "node": "Pengaduan_Sendto_Operator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Aspirasi3": {
      "ai_tool": [
        [
          {
            "node": "Pengaduan_Sendto_Operator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Pengaduan_Sendto_Operator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Pengaduan_Sendto_Kepala",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Pengaduan_Sendto_Kepala",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "Pengaduan_Sendto_Operator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pengaduan_Agent": {
      "ai_tool": [
        [
          {
            "node": "KaweNia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pengaduan_Sendto_Kepala": {
      "ai_tool": [
        [
          {
            "node": "Pengaduan_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pengaduan_Sendto_Operator": {
      "ai_tool": [
        [
          {
            "node": "Pengaduan_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Database_Kantor_Agent": {
      "ai_tool": [
        [
          {
            "node": "KaweNia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Database_User_Agent": {
      "ai_tool": [
        [
          {
            "node": "KaweNia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Trigger Whatsapp": [
      {
        "json": {
          "id": "evt_01k64gyea3afpe08hb8ar6jyb4",
          "timestamp": 1758941100355,
          "event": "message",
          "session": "KaweNia",
          "metadata": {},
          "me": {
            "id": "6281274789992@c.us",
            "pushName": "Kawe Nia",
            "lid": "166490749837382:1@lid"
          },
          "payload": {
            "id": "false_6285230047347@c.us_3F09B5F5EFFF6C8E00DB",
            "timestamp": 1758941099,
            "from": "6285230047347@c.us",
            "fromMe": false,
            "source": "app",
            "body": null,
            "hasMedia": true,
            "media": {
              "url": "https://waha-vdgnbkmlxfqn.mangga.sumopod.my.id/api/files/KaweNia/3F09B5F5EFFF6C8E00DB.jpeg",
              "filename": null,
              "mimetype": "image/jpeg"
            },
            "ack": 2,
            "ackName": "DEVICE",
            "replyTo": null,
            "_data": {
              "key": {
                "remoteJid": "6285230047347@s.whatsapp.net",
                "fromMe": false,
                "id": "3F09B5F5EFFF6C8E00DB",
                "senderLid": "141854616101085@lid"
              },
              "messageTimestamp": 1758941099,
              "pushName": "Mr.Sky",
              "broadcast": false,
              "message": {
                "imageMessage": {
                  "url": "https://mmg.whatsapp.net/o1/v/t24/f2/m232/AQP1-AzIxpbU05iOAoE_ZoI9yMXZYiPCMIvXkubBN5aBJVC7SDby02z_2OGK1tkUIBv2EvxAI1MlCWrv68R-eGmSw_oQ_vwFo0xpgKfj-Q?ccb=9-4&oh=01_Q5Aa2gEB2_SzudF_eTaeE6R8WLyIeAhslRuU3GL02A2-YvHf-A&oe=68FEB687&_nc_sid=e6ed6c&mms3=true",
                  "mimetype": "image/jpeg",
                  "caption": "",
                  "fileSha256": "UmHv4Kx2v2oB+RuCf30rC9C+dV9Q6rMQpC6miKXC8ok=",
                  "fileLength": "147775",
                  "height": 766,
                  "width": 876,
                  "mediaKey": "deeyBP8w/Qxi8IwW8BZoeqnh8CJ5+93tuV0+zL2GbJY=",
                  "fileEncSha256": "62EZZQP05ENvtA0GbQryn1lKFtQiM2BGOfuQV/1BbuA=",
                  "directPath": "/o1/v/t24/f2/m232/AQP1-AzIxpbU05iOAoE_ZoI9yMXZYiPCMIvXkubBN5aBJVC7SDby02z_2OGK1tkUIBv2EvxAI1MlCWrv68R-eGmSw_oQ_vwFo0xpgKfj-Q?ccb=9-4&oh=01_Q5Aa2gEB2_SzudF_eTaeE6R8WLyIeAhslRuU3GL02A2-YvHf-A&oe=68FEB687&_nc_sid=e6ed6c",
                  "mediaKeyTimestamp": "1758941096",
                  "jpegThumbnail": "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCABXAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDtpvDuhXcD+HvCviSfS7h5d8f2OBFLRrjcds0RcjHzYCh2HytgNisq2+Dl5peqza5Jerq10mGVrqxV7Z8YBkeCOHh1Mh2IG3ZUnLA7U87n+K/izRLuHQrbS7hm1F99my3fmLd/PvWSNdoVW+YZ27RhvnHQ17JYaboV/wCF31TX/FnxD8P6qLAzyPb3Ny9mJHV8PHFGShVSwym1BhV27RyOxWUTB3voea6vp3iJ9Tl0e38Oawt7cytFLK9oL6N2CqA/mvERHlf7rrLsC4ZDhF6zWND1A6Ddib4br4csNOmh1GSIzLKl7HtnlmEJjYSecXaJI1K7VGThgqrXknxV8NfFbwbZvqfjCbXtT8PoFik1Ka5E65c7cSRrK5jViAu4nBygyGYKPKr/AMcaVeqWnv7hiVXZCIy4XAHyruPQAADnt3pOHNrqUpWVj6n8QXHhLxL4P1HVfBXijU7nUNItoZLixlLF2jMikysXUliqqxLI+OV3dRWDffGnxxAtvoc94kUk8JdnEWy4G1vutwMfwduQeT2ry/4TjVbsKdR0d4bWe4CxyOCjyrHF93B5IxjOOMn2rrxp8GveJ9SvZ/MjNkwt45SxySuA+ezA7EJ78jBxXLUq2nZ6HRQoutFtdDttL+LN3qdzY2U0FlDJNkzyuXjjAG0FiwDdRk7cY3Y5xnF7xZ4I1HxBoOoWejxaHbXN+mw3XnSbX/exsMsikH/VKBwQvzYxk58kvUk0jV5rS7tZLac5lgjYMA0BIIdM43KQy84yMY4ORVpPGes6PYNb2WrXVsb2WOH9y+GXcdpZc9CN3UfTmq0tczasZtl8NvF3he6uRrOhvJJLE0YkiYMqejA87gSVyNuQO1ddP8HfD8umC/0bXNesre4l2tPcQC4FyCoKsoHlBd3zZyzk7eOBk+r+GPE2keJ0itVnmWeO3RZobq7bdNgbW3AgI+RgnAGd3I71av8Aw54Z1fUb7WJ9PaS6uPL8+eO4cDaoC8Agpzgg5U5+bBGTRKnKesSU4r4z5r1n4VeILfVJ9P0i5k1IRKZfNWNmaRMAEumSVI5B69Sc4IFdX8MtG8QeE7ufWZLfUmeS1+xzvBaF3jUFWACkpxlOVDZAB7cj2Kz0vStSglaS7ns5o3eC2We2EzuoON6+XIcggAjG047DmurX4Yapd3Q1Cz1l7iFljkEi2YjjHO7KsxbcSD7jC885JmNOtFaIG6a2ZyNt4s+wxC1kFyWj+Xcbd33443Z+bOfdifU0V1s/wx1aJlE05mZl3b2vkjJyT2EZH8vpRTUMT/Khc8D5k0zSvE2tajc6uul3t/KVngglEjQvbh3UJ50gjVZiQzJ8jErhQSMKD2Vj4I8YWGs2Gr+MfiA9pof26O5trS61SW4gby2Eka5dyJNrJ0Xd65HWsO+2yeKzqLeJb23triMxSaa9xcvHDc7AxZEYHYnOAoAPUBUBAXu9Vtrfxl4dtY/iRJCunpcsbO4jlk2vK2/GFVCXQqgcblXOdpUHFbQttFjldbntF1bprOhPp7yxSQXEQjSe2+VkJU4kQ4xkcMpB6gHsK+H/AB1c/FjSPEepeHtZ8V3Fw9nMyLI05Ilj6o4wTgMpU47ZwcHivpy5+OuhNo8ms6LbatqdnBcfY5vJgKizYyCMmeaWVFjAbkqzK3T7oDkYXxV8O+HPFFt/btik8WqWCiMx6jKY5Z7NWALiNwGGxpYiSdq4l5JbgbzbUbxMlFJ6nz58NG1x/Estzql358VtbM7oxP70fdGCT/DvY4+ue1dR4Tu7m501767H7++nklDYypYsFLfmPXPX0NQ6vYx6Dp97exxwc2ckPmROrkCTC8MpIBztOPQVreGoYJPDmnW6qAkkCM/IO/5R0HHGevP0ryMRP7TPYwCXwokvbGK5Z4b+3Z7fgwhTsePI42M2cdMHgjIGQcVyOraVLbwwR30jGNLgOJFUhHVFdiWH8OCFyCcYLY3dR6TpkltcqbOeUBwQDtUgE56qT2wSPx5pLyxszkSQKzsDEQ4BUrznjoTjOM5Gefes4Vmvdex1YnCRqxutzizqMMFre6rcajd2EenRJI0kMYkkkkY8KvzKBuw2OeBV3wv8efENjrGn2klxcpFblpDNLOo2DynARlO5cfvcljnBVRgjBrnvHtpa6X4aj04yTudWvVO8AEosKYI68g+eeeOnTrXm7Xskeri5+1MnkSqjbogRkMVI55z3H0GOma7KUua7Wx5den7JKL36n3fZfEKXxrozSabrdlp9xcfPJbwW4fb6g5KyN2AIOeBgg9Oh0bXvFssbLr/iTRb5MlkEGkGCQsSp+YyTSgjOeVUNjAzwK+QdG1e6sba2aO62yRqAZQApyuRnHTk47V6d4b+JjMq2mqrlzg+eMZXjAyucH+E4GM4+tbKty6WOVwufRcXiq/st6R2kTGRzIxjVVyx6kgnrxnjtjvmivKNP8d+E4IPs82tRTyxbRI2UQ7ioJBDFT39Me5orVViPZnHaVonh2+0x59Q8U6lYzXcJsoLcQPDPLHvXzGJjUbVOGDRuqhjGVL7QWrnfFFpJearP4XvZ7bXGtSQbm/1IxMHYBkH2cEx7QhZtzBj83zMi/f7vx14G8K6+r3OnQeIvD2qySW0EF1CDexRb9yMxj3jn5XJ+Yn5cgY+95pp3gFvC8p0PT7h9ZmIkcf2VOsdxcqqsrKzyYZV6eZGcsMLtx38unNrW56MoLsaHggeBNa1250/x94e0jUruWEGO4ltWke3O8IYQGBbbyMAj5T5nqAPZvBWn+HNEja18G+D7XShLi5RrbZC9xDhfmC7UYgO6ht4745xx5drXgnxfY2zfYtTtdTSB0ht5L+EQ3FtGxO1TKxILIDIf3YBOMqB5jivUfgxqureJvDssd7FM93by3Ec88mI5C6tlVMTkOBhwFDAZCHgcZ7MPW53Y5qtPlVzkfGvw9tdJgl1rQU+0aTdq6TxRqzrZOEUhC5OSDIOMgdhkk8efW2mppcP2m3Oyylx5y54iJJy49F67h0yd3rj62vLKymtXtbmGSVZ4TGQ5iIk4JI24yw27j8pzkDuCK8B8ReF5PCF22mzSPPZTEtbzsNhdSBlWGTgqWwfXg96jFULK9tGVhazhJNPU5K6iaSJL6weNZ4mZti8nH98A+/OD2z2qay1UXdu63C7SqkNEDtKPwDz3UnsemMdxViDTTCXuftIzvJCkEttI+90xgHsT2/GqWr2kds0eowlXjchZVCgcE9Rnrye/oT6V493TnyS+R9HGcatNVIb9TznxwV1fxrYaLp8zB7CKJTG7bQZCTJ8vYkq6Z+ntWPqPgzaJ5tNuEQMVkkgERJYBsnygGHJIPGDwwAx0q94cuW1z4g6rq0pintkkkWJ+qsikKgGc4OwKQcf/AFuyubOK3lP70zRM5VOMZP3mU55BHTGOv0FdnO6TSRxqlHERfOtzjY7otbrsJADAntzyP6D9a1La8kwdzfKAFHbHOc//AF6uap4dt7yVpXvjBcFVQXP/ACxkO04EigE5yR+8XJA6huMc9I00dvNb3EMkE6AEpJ8p56c9GHbI4OOCa64VI1Njy69CdB2kXrO+mEObu0ty5YnEsQYgZ9SDweT+Oe+aKydLu7q9sIbmTe7MoGX4IA4A+bnGB9PTiir5TE+mPEOtwT22brWV1aGF4DamYG0aymL4ZE3+S77sq27kfdO1QUVuH8Qayb/WNTuv+EcuNIWC6QIZ4ZImtQgKrPHLlDEWBdm3H5VyuXDYrlLnStd1vWVW7Vbu8hQy3FlK07x22erNIxWQSYMZVIgAOu4/x9Le6po+vWNi+maHJo+vQgRRCYZtliL740aWVW3RgoCVUoTsLBeOPP0idrTkmkZs914s1XU1+03rHTbNCZrqbUJ3jnaVEBUQo5VXC+YqbVjU9gMcblt4qufA15aWUFnqGmy3FzC6sY93nlY1cl12swjOMSOdzBXIRDgFcDTFa6lktLrV/ITe5uV1G1idnIUMpQOytDF88Sn72DggkYLWrC/1rVdesbfS9GgvrkvPA8sGo3TtFc5jDmeGc5HKhT8pXq2dxC1tz62Rjyu12e5fCTXfFmvWt/ceINesL+ISqto1jbCCRF+YuZEGcuxILHG3jKgc1t+LNBk8R213aXDK4cFl80BnSQ5IblhyeRk9RnIAJrjvhX8On8JacNWZQ9ylvJBdERqkbjcC0jMqj7uznBPXB5UEej2us6koaezt/tW+XEYYYQPu252ngDqSOCQBxnFelB3p2lqcklaV0eDTwTWFzLY6hbG3urdsNGxGVbHqOvYgjj8657xPqV1pul3l59lQG0hkniCYVWCRkgYGMZOfp7cCvZ/ib4dvfEVtBrVhast3CvlsqhnaUY3AuxJ29G2qe7Y714R42t7rWvDN3ZWkgSSTblscryM9fUZH4mvOrUFflkd2HxDpvmXozgfhjpkyaPNewu4kmkZzGFIAVRtHbB/vDr7989tc7rhYNKd0Y3EwQOAuHUE7gR6nGM9s5FR+D7YQ6DDY7Ns9pHtPygBiB19+mf8AJq+bNrdN7B3hZ8SFSxJBPRsfj+vTNcLq81RqW9z2I01GlGcNU0Z+p2s2jzxxPNNJbvgBzwN5PAPTB27RnIzjOODincafZ6jZyafcg7QNqsoHmxZI+ZCRx90Hjg46EHnob1bRL/8AeXcdxHcxnZhs8FjuDDsecDPIIHXisO4tBo6s8aTS2rjIzksjEkEHkkr05zx+GarVaoOaNRck0YV1ompLcSGwEbwu7MvzBdoJOFwSOgx2orpYbewu1MryxpycfvSuQeQeDzwcfhjtRWixMkrXOR5XDpIXUdV0S00+C7vpbaa30toJbGS4gNohCuT+6KDB3ncXHlsCI1wu0oQtxrLX7rB4e0m4+y38Im+zWdvJDHuBjCsiuCoO5Qy7NpB3cjJBgig0m3t4fEGqWqaxqUKrLMkuo/uUhaNTsyMlmxg+XlQAo3b0HCat4v8AC9/e3dvrfhWPQne4YWc2mkOltjAYTwllRwcEkqqMGPVxmuqNGDexwOrIuaPpfie3uZdSj8u/mVvskcclv5xtxIzk/vCitG6tG5VlwSBg/eXPqMPguHSrKayufECLEQrWim+gDTOrPu89miVkOJB8vz42dd3J8Q8LajdvImvPq+n3cYcQy21wGSJouSzLJlyCpELbCnUtkgrsPsfgzU/Cmt2S2fiXRbK4ur55omBnW8gBO7KI0ihgvljcV2qoJf5cHdUujKcuVF+0jGPN17Hongq5s71JdUFjb3V9FezR/a5omJCMFyVyv7vIVFbA/hX6VZsb3XtNfUIrl7GGObbcIDfHyyTuRQMkmMEKnyqGAy2OR8z0XwyyC2R2RY8mNUO7+PcVGASB0OB0PPGAan1jQdL13TZoNQsReWcwMjxS2WVO4Er8u35dwYYJAPzkitlh3BK25g63M3fYu3V9aXQQSak6mE7NqLEctuPQhs4ADYyQSADnvXjvxC8GXWmi81nT4WewmLFsjDRkng7QoAU8YAJ/LFelvdW8MT2Nnpjxv8siBwzSMCfmO1OvToSScEHHOYtRvY1EkF5afZ7e6Vo40aZWE5xkgbs7hjeSD1weD1qpKUo+9uQrJ6HzzpW2J/MVRuBzz3rSjulWcmUecJFyYmAyTzwD7euOnoMCrPinw2fDerSNaDOn3PzWzZyUyM7GHbqceox3zWJIXSSO5UbtpAYZ9Mc59cZrz61HmV18SPQwmJ9k+WT91/gN1O0+zn7RDITEWJQ4IKY749ATjkY7cg4ptszRwbXmUMuNqJ/d5w2CfXqP4eR0wTouVmfzy5linXErBSQXxw2AecfdCj8+9Y2p29xATJA5TYcoJOi8+g/hOCpB7c81yUqvN7stz1q9PkanDYpXOiWssplfUZrUuA3lxuAOR1x2+lFWINf09EKT3TWsinDxvcNHzgcgbTkHrk89RzjJK21M7+Rbv9K8XXMslzqOqLZT2l2YZ57W4kEodZABsPI4aTKthSDnhutUZ/hzoNr4sOl3XjC7uZNnnxxvY7XH3enzMACBuLFi2WOADRRXZGcrHjckbmjrPheDSrC+uUubqK+ublna6incy7pCW3Su5JfeCQxAzu+br1paD4X1nVdX0y68P6u9mt1AZzEWKxFd5QRq/wAzgZcEnAyxyBkBgUVrd2uQkuZI9Jh8aeGLaz/4R/xNYvEtxOltBZyw/aUkmjlGAJN25hkx/M2zO5Se4XsG8b6daX0umR3U0cFoA7xSxZEQeJhlMbgAYoDgADG3OMnBKKnmez1BxTbZuWttNJceT5KnGDubA+bIGTjv746n61Vk1HTtQtReQXGftAWeM7CRJGUD87l6lWPJGctz0xRRXS9jn6mdr+nWd1BcaVdhJBPGhjO0l1yRtIPQZ2k+2PoK8l8QabJoWpyadId4+9C5P3kJODx34IPTkUUVhUSWpcWZcU8lvI21yEkUhgfcf5/zwXziW5HkKxSFzgvk7lwehOcnn+Z/AoryMXFRkprc97LKkqkZUpapGLfaFbm5ZZ/Nd0ABZVUg9x1PHXpRRRVxm2kauNnZM//Z",
                  "contextInfo": {
                    "expiration": 0,
                    "ephemeralSettingTimestamp": "0",
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT"
                    }
                  }
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "V0KYjw7gRuP/FA==",
                    "senderTimestamp": "1758149268",
                    "recipientKeyHash": "s5dqPkrLKWtr7A==",
                    "recipientTimestamp": "1758235068"
                  },
                  "deviceListMetadataVersion": 2
                }
              },
              "status": 3
            }
          },
          "engine": "NOWEB",
          "environment": {
            "version": "2025.9.4",
            "engine": "NOWEB",
            "tier": "PLUS",
            "browser": null
          }
        }
      }
    ]
  },
  "versionId": "74c6ca51-5b03-42d3-8a03-8fdf2552ab9f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-27T05:08:35.982Z",
      "createdAt": "2025-09-27T05:08:35.982Z",
      "role": "workflow:owner",
      "workflowId": "DCduw7IDGOF6ABco",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": null,
  "tags": []
}