Backup_29-12-2025/Nomor Surat Nawaripi - Sub AI Agent
{
  "updatedAt": "2025-12-29T05:40:44.378Z",
  "createdAt": "2025-12-23T02:11:30.971Z",
  "id": "5VAbb63HYck7fHyE",
  "name": "Nomor Surat Nawaripi - Sub AI Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s",
          "mode": "list",
          "cachedResultName": "Surat Keterangan Tidak Mampu Distrik Wania",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Kampung Nawaripi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -400,
        -288
      ],
      "id": "0fae48b4-07a4-4018-9808-f5097375477b",
      "name": "Read SKTM Nawaripi",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7VY1hRGS2jrWPehL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s",
          "mode": "list",
          "cachedResultName": "Surat Keterangan Tidak Mampu Distrik Wania",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Kampung Nawaripi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nomor Surat": "={{ $fromAI('Nomor_Surat_Baru', `Nomor Surat Baru`, 'string') }}",
            "Tanggal Surat": "={{ DateTime.now().setZone('Asia/Tokyo').setLocale('id').toFormat('dd MMMM yyyy') }}",
            "Perihal": "={{ $('WI-Surat').item.json.body.perihal }}",
            "Nama": "={{ $('WI-Surat').item.json.body.nama_pemohon }}",
            "Nik": "={{ $('WI-Surat').item.json.body.nik_pemohon }}",
            "TTL": "={{ $('WI-Surat').item.json.body.ttl }}",
            "Agama": "={{ $('WI-Surat').item.json.body.agama }}",
            "Jenis Kelamin": "={{ $('WI-Surat').item.json.body.jenis_kelamin }}",
            "Status Perkawinan": "={{ $('WI-Surat').item.json.body.status_perkawinan }}",
            "Pekerjaan": "={{ $('WI-Surat').item.json.body.pekerjaan }}",
            "Alamat": "={{ $('WI-Surat').item.json.body.alamat_pemohon }}",
            "Nomor Hp": "={{ $('WI-Surat').item.json.body.nomor_hp }}",
            "Link File": "={{ $('WI-Surat').item.json.body.link_perent_folder_sktm_user }}",
            "Keterangan": "Belum Selesai"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal Surat",
              "displayName": "Tanggal Surat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nomor Surat",
              "displayName": "Nomor Surat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Perihal",
              "displayName": "Perihal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nik",
              "displayName": "Nik",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TTL",
              "displayName": "TTL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Agama",
              "displayName": "Agama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jenis Kelamin",
              "displayName": "Jenis Kelamin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Perkawinan",
              "displayName": "Status Perkawinan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pekerjaan",
              "displayName": "Pekerjaan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Alamat",
              "displayName": "Alamat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nomor Hp",
              "displayName": "Nomor Hp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keterangan",
              "displayName": "Keterangan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link File",
              "displayName": "Link File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -160,
        -288
      ],
      "id": "653cc6f9-deca-4653-ac2b-7f57085610e7",
      "name": "Add SKTM Nawaripi",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7VY1hRGS2jrWPehL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -592
      ],
      "typeVersion": 1,
      "id": "3164e268-2716-4087-8dd6-369714d15d2e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -560
      ],
      "typeVersion": 1,
      "id": "839fe686-a044-4332-a915-c98407ba599d",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Nomor Surat",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        -560
      ],
      "typeVersion": 1,
      "id": "d3522d0f-574b-4242-a5b7-7f1eb43682ad",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -560
      ],
      "typeVersion": 1,
      "id": "c41ab0ad-efea-4e71-9541-ea32ee1c095d",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -336
      ],
      "typeVersion": 1,
      "id": "4dc95607-fe47-4e2c-b8ce-23e7aa74de9b",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "### [Tool Read Nomor Surat](https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?gid=0#gid=0)",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -336
      ],
      "typeVersion": 1,
      "id": "df85b95c-3d0f-4143-874a-62e965074670",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "### [Tool Save New Nomor Surat](https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?gid=0#gid=0)",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -336
      ],
      "typeVersion": 1,
      "id": "715156b2-f6ad-4cd5-b63f-243267e7dcea",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -144,
        -496
      ],
      "id": "e2d35eae-f34f-4c30-9956-7e7b26156ded",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -640,
        -272
      ],
      "id": "be7e355f-89d4-4533-a3ca-d3bab832f4b4",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dca6738a-b78b-4d54-b211-c1dda4c937f1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        -496
      ],
      "id": "0063c12e-7f98-4d99-a9b1-804fc0931cab",
      "name": "WI-Surat",
      "webhookId": "dca6738a-b78b-4d54-b211-c1dda4c937f8"
    },
    {
      "parameters": {
        "content": "## Folder\n### **[Nomor Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/3WoVksBGSKUyFqf7)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kampung Nawaripi](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/m4VVaWRfz87EAMmo/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/HqKecT91tgThE9s5/workflows) / [Nomor Surat Nawaripi - Sub AI Agent]()** \n\n",
        "height": 112,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -704
      ],
      "typeVersion": 1,
      "id": "3ad43d7e-4b45-418c-b4b8-c9f29a30ce8d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -512,
        -496
      ],
      "id": "f8650707-78f7-47a0-90a1-fb4fd1191c4f",
      "name": "Sub AI Agent Nomor Surat"
    }
  ],
  "connections": {
    "Read SKTM Nawaripi": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Nomor Surat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add SKTM Nawaripi": {
      "ai_tool": [
        [
          {
            "node": "Sub AI Agent Nomor Surat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "Sub AI Agent Nomor Surat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WI-Surat": {
      "main": [
        [
          {
            "node": "Sub AI Agent Nomor Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub AI Agent Nomor Surat": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e620c38e-0b61-4e8e-99fe-ad56086d27ee",
  "activeVersionId": "e620c38e-0b61-4e8e-99fe-ad56086d27ee",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-23T02:11:30.974Z",
      "createdAt": "2025-12-23T02:11:30.974Z",
      "role": "workflow:owner",
      "workflowId": "5VAbb63HYck7fHyE",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:40:44.379Z",
    "createdAt": "2025-12-29T05:40:44.379Z",
    "versionId": "e620c38e-0b61-4e8e-99fe-ad56086d27ee",
    "workflowId": "5VAbb63HYck7fHyE",
    "nodes": [
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s",
            "mode": "list",
            "cachedResultName": "Surat Keterangan Tidak Mampu Distrik Wania",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Kampung Nawaripi",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          -400,
          -288
        ],
        "id": "0fae48b4-07a4-4018-9808-f5097375477b",
        "name": "Read SKTM Nawaripi",
        "notesInFlow": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7VY1hRGS2jrWPehL",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s",
            "mode": "list",
            "cachedResultName": "Surat Keterangan Tidak Mampu Distrik Wania",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Kampung Nawaripi",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Nomor Surat": "={{ $fromAI('Nomor_Surat_Baru', `Nomor Surat Baru`, 'string') }}",
              "Tanggal Surat": "={{ DateTime.now().setZone('Asia/Tokyo').setLocale('id').toFormat('dd MMMM yyyy') }}",
              "Perihal": "={{ $('WI-Surat').item.json.body.perihal }}",
              "Nama": "={{ $('WI-Surat').item.json.body.nama_pemohon }}",
              "Nik": "={{ $('WI-Surat').item.json.body.nik_pemohon }}",
              "TTL": "={{ $('WI-Surat').item.json.body.ttl }}",
              "Agama": "={{ $('WI-Surat').item.json.body.agama }}",
              "Jenis Kelamin": "={{ $('WI-Surat').item.json.body.jenis_kelamin }}",
              "Status Perkawinan": "={{ $('WI-Surat').item.json.body.status_perkawinan }}",
              "Pekerjaan": "={{ $('WI-Surat').item.json.body.pekerjaan }}",
              "Alamat": "={{ $('WI-Surat').item.json.body.alamat_pemohon }}",
              "Nomor Hp": "={{ $('WI-Surat').item.json.body.nomor_hp }}",
              "Link File": "={{ $('WI-Surat').item.json.body.link_perent_folder_sktm_user }}",
              "Keterangan": "Belum Selesai"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Tanggal Surat",
                "displayName": "Tanggal Surat",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Nomor Surat",
                "displayName": "Nomor Surat",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Perihal",
                "displayName": "Perihal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nama",
                "displayName": "Nama",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nik",
                "displayName": "Nik",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TTL",
                "displayName": "TTL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Agama",
                "displayName": "Agama",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Jenis Kelamin",
                "displayName": "Jenis Kelamin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status Perkawinan",
                "displayName": "Status Perkawinan",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Pekerjaan",
                "displayName": "Pekerjaan",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Alamat",
                "displayName": "Alamat",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nomor Hp",
                "displayName": "Nomor Hp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Keterangan",
                "displayName": "Keterangan",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Link File",
                "displayName": "Link File",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          -160,
          -288
        ],
        "id": "653cc6f9-deca-4653-ac2b-7f57085610e7",
        "name": "Add SKTM Nawaripi",
        "notesInFlow": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7VY1hRGS2jrWPehL",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "",
          "height": 480,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -880,
          -592
        ],
        "typeVersion": 1,
        "id": "3164e268-2716-4087-8dd6-369714d15d2e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -832,
          -560
        ],
        "typeVersion": 1,
        "id": "839fe686-a044-4332-a915-c98407ba599d",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Nomor Surat",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -592,
          -560
        ],
        "typeVersion": 1,
        "id": "d3522d0f-574b-4242-a5b7-7f1eb43682ad",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          -560
        ],
        "typeVersion": 1,
        "id": "c41ab0ad-efea-4e71-9541-ea32ee1c095d",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -720,
          -336
        ],
        "typeVersion": 1,
        "id": "4dc95607-fe47-4e2c-b8ce-23e7aa74de9b",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "content": "### [Tool Read Nomor Surat](https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?gid=0#gid=0)",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -480,
          -336
        ],
        "typeVersion": 1,
        "id": "df85b95c-3d0f-4143-874a-62e965074670",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "content": "### [Tool Save New Nomor Surat](https://docs.google.com/spreadsheets/d/13W_q4DvTZcd1nwsf4RYquLaCPDBlcSqGTXa6NehBz6s/edit?gid=0#gid=0)",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -240,
          -336
        ],
        "typeVersion": 1,
        "id": "715156b2-f6ad-4cd5-b63f-243267e7dcea",
        "name": "Sticky Note26"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -144,
          -496
        ],
        "id": "e2d35eae-f34f-4c30-9956-7e7b26156ded",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -640,
          -272
        ],
        "id": "be7e355f-89d4-4533-a3ca-d3bab832f4b4",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "dca6738a-b78b-4d54-b211-c1dda4c937f1",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -768,
          -496
        ],
        "id": "0063c12e-7f98-4d99-a9b1-804fc0931cab",
        "name": "WI-Surat",
        "webhookId": "dca6738a-b78b-4d54-b211-c1dda4c937f8"
      },
      {
        "parameters": {
          "content": "## Folder\n### **[Nomor Surat - Parent AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/3WoVksBGSKUyFqf7)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kampung Nawaripi](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/m4VVaWRfz87EAMmo/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/HqKecT91tgThE9s5/workflows) / [Nomor Surat Nawaripi - Sub AI Agent]()** \n\n",
          "height": 112,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -880,
          -704
        ],
        "typeVersion": 1,
        "id": "3ad43d7e-4b45-418c-b4b8-c9f29a30ce8d",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -512,
          -496
        ],
        "id": "f8650707-78f7-47a0-90a1-fb4fd1191c4f",
        "name": "Sub AI Agent Nomor Surat"
      }
    ],
    "connections": {
      "Read SKTM Nawaripi": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Nomor Surat",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Add SKTM Nawaripi": {
        "ai_tool": [
          [
            {
              "node": "Sub AI Agent Nomor Surat",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "Sub AI Agent Nomor Surat",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "WI-Surat": {
        "main": [
          [
            {
              "node": "Sub AI Agent Nomor Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sub AI Agent Nomor Surat": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}