Backup_29-12-2025/Sub AI Agent Create Surat Mawokau Jaya
{
  "updatedAt": "2025-12-28T06:34:07.309Z",
  "createdAt": "2025-12-28T06:33:19.992Z",
  "id": "QJZg2PFGcz2TI9lh",
  "name": "Sub AI Agent Create Surat Mawokau Jaya",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 624,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -144
      ],
      "typeVersion": 1,
      "id": "c44fec8c-906f-42de-95fa-874dd0920eec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Webhook Input",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -112
      ],
      "typeVersion": 1,
      "id": "1736b61a-42bc-4708-926a-e07329653a9f",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### Sub AI Agent Create Surat Pengantar RT\n\n\n\n\n\n\n### ",
        "height": 208,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -112
      ],
      "typeVersion": 1,
      "id": "8376a7bb-1c55-4c54-bd0f-1132a1fe80e2",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -112
      ],
      "typeVersion": 1,
      "id": "b2f9d6fa-6435-4bdc-9160-7a99d9e51fda",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        128
      ],
      "typeVersion": 1,
      "id": "be75a08d-cc41-4ea3-9bae-b31c3ef187b5",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "285bc02c-63f7-4afb-9b9b-b87426cdf5eb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -48
      ],
      "id": "8a3e07c3-fd5d-4f40-9bc0-d85e16ed130c",
      "name": "WI-Surat",
      "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Prompt }}",
        "options": {
          "systemMessage": "={{ $json.body[\"System Message\"] }}",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -48
      ],
      "id": "29f177a5-4416-4851-aefa-9d865ae4b742",
      "name": "AI Agent Surat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        -48
      ],
      "id": "3df6b2b3-0e39-4f92-b79c-cef50a812ff4",
      "name": "WR-Surat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        192
      ],
      "id": "53bb135c-a1ff-4525-8d58-103e844c6f35",
      "name": "AI-Surat",
      "credentials": {
        "openAiApi": {
          "id": "Qy11fJqEsEUeag8i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Tool Create SPRT\n\n\n\n\n\n\n\n\n\n### https://drive.google.com/file/d/1-kb2aMCcm9x7AfqgblQvru8Tr079M-_Adgb98-9Kb-c/view",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        128
      ],
      "typeVersion": 1,
      "id": "07a17f89-e572-4214-9794-5beb6634124e",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Go To Parent AI Agent Create Surat Pengantar RT\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/jrQBS8OPVPu3eOPj",
        "height": 128,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        336
      ],
      "typeVersion": 1,
      "id": "e709f069-8673-41c7-90bb-3219b3e1d693",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1-kb2aMCcm9x7AfqgblQvru8Tr079M-_Adgb98-9Kb-c",
          "mode": "id"
        },
        "name": "=Surat Pengantar RT-{{ $fromAI('Nama_Pemohon', ``, 'string') }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $fromAI('Id_Perent_Folder', `Perent ID Folder Surat Pengantar RT`, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        384,
        176
      ],
      "id": "4fe483d0-2372-4800-9352-ca1b53bde547",
      "name": "Surat Pengantar RT Mawokau Jaya",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K6YEbjdSQULsuuJd",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "WI-Surat": {
      "main": [
        [
          {
            "node": "AI Agent Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Surat": {
      "main": [
        [
          {
            "node": "WR-Surat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-Surat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Surat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Surat Pengantar RT Mawokau Jaya": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Surat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "WI-Surat": [
      {
        "json": {
          "headers": {
            "host": "n8n-qz8tp6856ibc.bgxy.sumopod.my.id",
            "user-agent": "axios/1.12.0",
            "content-length": "282",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "8.215.39.173",
            "cf-ipcountry": "ID",
            "cf-ray": "9b28e0872edff928-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "8.215.39.173, 172.68.164.166",
            "x-forwarded-host": "n8n-qz8tp6856ibc.bgxy.sumopod.my.id",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "45bc8cdf891c",
            "x-real-ip": "172.68.164.166"
          },
          "params": {},
          "query": {},
          "body": {
            "Prompt": "Saya Minta Id Surat SKTM Kampung Nawaripi\nRespon Hanya berikan Id Tanpa Menambahkan Apapun",
            "System Message": "Gunakan \"Surat SKTM Kampung Nawaripi\" Untuk Mendapatkan Id Yang Di Minta",
            "File Name": "SKTM - Syafruddin",
            "Parent Folder": "1YreC0asR3oJqtyEWiat7XtlePgaD6mZe"
          },
          "webhookUrl": "https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "4c954c86-29ab-4cf0-a93e-dbcaffdf236a",
  "activeVersionId": "4c954c86-29ab-4cf0-a93e-dbcaffdf236a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-28T06:33:19.995Z",
      "createdAt": "2025-12-28T06:33:19.995Z",
      "role": "workflow:owner",
      "workflowId": "QJZg2PFGcz2TI9lh",
      "projectId": "MsnmAoT3kpqQYaku"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-28T06:34:07.310Z",
    "createdAt": "2025-12-28T06:34:07.310Z",
    "versionId": "4c954c86-29ab-4cf0-a93e-dbcaffdf236a",
    "workflowId": "QJZg2PFGcz2TI9lh",
    "nodes": [
      {
        "parameters": {
          "content": "",
          "height": 624,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          -144
        ],
        "typeVersion": 1,
        "id": "c44fec8c-906f-42de-95fa-874dd0920eec",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Webhook Input",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -144,
          -112
        ],
        "typeVersion": 1,
        "id": "1736b61a-42bc-4708-926a-e07329653a9f",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "### Sub AI Agent Create Surat Pengantar RT\n\n\n\n\n\n\n### ",
          "height": 208,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          96,
          -112
        ],
        "typeVersion": 1,
        "id": "8376a7bb-1c55-4c54-bd0f-1132a1fe80e2",
        "name": "Sticky Note28"
      },
      {
        "parameters": {
          "content": "### Webhook Respon \n\n\n\n\n\n\n\n### ",
          "height": 208
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          496,
          -112
        ],
        "typeVersion": 1,
        "id": "b2f9d6fa-6435-4bdc-9160-7a99d9e51fda",
        "name": "Sticky Note30"
      },
      {
        "parameters": {
          "content": "### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          128
        ],
        "typeVersion": 1,
        "id": "be75a08d-cc41-4ea3-9bae-b31c3ef187b5",
        "name": "Sticky Note27"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "285bc02c-63f7-4afb-9b9b-b87426cdf5eb",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -64,
          -48
        ],
        "id": "8a3e07c3-fd5d-4f40-9bc0-d85e16ed130c",
        "name": "WI-Surat",
        "webhookId": "1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.Prompt }}",
          "options": {
            "systemMessage": "={{ $json.body[\"System Message\"] }}",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          160,
          -48
        ],
        "id": "29f177a5-4416-4851-aefa-9d865ae4b742",
        "name": "AI Agent Surat"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          528,
          -48
        ],
        "id": "3df6b2b3-0e39-4f92-b79c-cef50a812ff4",
        "name": "WR-Surat"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          96,
          192
        ],
        "id": "53bb135c-a1ff-4525-8d58-103e844c6f35",
        "name": "AI-Surat",
        "credentials": {
          "openAiApi": {
            "id": "Qy11fJqEsEUeag8i",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "### Tool Create SPRT\n\n\n\n\n\n\n\n\n\n### https://drive.google.com/file/d/1-kb2aMCcm9x7AfqgblQvru8Tr079M-_Adgb98-9Kb-c/view",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          304,
          128
        ],
        "typeVersion": 1,
        "id": "07a17f89-e572-4214-9794-5beb6634124e",
        "name": "Sticky Note26"
      },
      {
        "parameters": {
          "content": "## Go To Parent AI Agent Create Surat Pengantar RT\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/jrQBS8OPVPu3eOPj",
          "height": 128,
          "width": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -176,
          336
        ],
        "typeVersion": 1,
        "id": "e709f069-8673-41c7-90bb-3219b3e1d693",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1-kb2aMCcm9x7AfqgblQvru8Tr079M-_Adgb98-9Kb-c",
            "mode": "id"
          },
          "name": "=Surat Pengantar RT-{{ $fromAI('Nama_Pemohon', ``, 'string') }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $fromAI('Id_Perent_Folder', `Perent ID Folder Surat Pengantar RT`, 'string') }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTool",
        "typeVersion": 3,
        "position": [
          384,
          176
        ],
        "id": "4fe483d0-2372-4800-9352-ca1b53bde547",
        "name": "Surat Pengantar RT Mawokau Jaya",
        "notesInFlow": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K6YEbjdSQULsuuJd",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "WI-Surat": {
        "main": [
          [
            {
              "node": "AI Agent Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Surat": {
        "main": [
          [
            {
              "node": "WR-Surat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI-Surat": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Surat",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Surat Pengantar RT Mawokau Jaya": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Surat",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wania Mimika",
    "name": null,
    "description": null
  },
  "tags": []
}